Repository buape/carbon, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, package: carbon, package: create-carbon, plugin: gateway, package: linked-roles

fix: coderabbit requested changes
  packages/carbon/src/structures/Guild.ts
  packages/carbon/src/structures/GuildScheduledEvent.ts
Labels: package: carbon

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Labels: none

"Claude PR Assistant workflow" (#311)
  .github/workflows/claude.yml
Labels: none

add support for the clientmanager in the adapters
  packages/carbon/src/adapters/bun/index.ts
  packages/carbon/src/adapters/fetch/index.ts
  packages/carbon/src/adapters/node/index.ts
  packages/carbon/src/plugins/client-manager/index.ts
Labels: package: carbon

Create slow-eggs-sort.md
  .changeset/slow-eggs-sort.md
Labels: none

fix ci issues
  packages/carbon/src/index.ts
  packages/carbon/src/structures/GroupDmChannel.ts
  packages/carbon/src/structures/Guild.ts
  packages/carbon/src/structures/GuildMember.ts
  packages/carbon/src/structures/Role.ts
  packages/carbon/src/structures/User.ts
  packages/carbon/src/structures/Webhook.ts
Labels: package: carbon

adjust how the manager is started
  packages/carbon/src/plugins/client-manager/ClientManager.ts
Labels: package: carbon

automatically set urls on the dev portal
  packages/carbon/src/plugins/client-manager/ClientManager.ts
  website/content/plugins/client-manager.mdx
Labels: package: carbon

fix url
  packages/carbon/src/plugins/client-manager/ClientManager.ts
Labels: package: carbon

remove debug log
  packages/carbon/src/classes/RequestClient.ts
Labels: package: carbon

fix: ci
  packages/carbon/src/structures/Guild.ts
Labels: package: carbon

fix: correct the cdn url for per-server avatars
  packages/carbon/src/structures/GuildMember.ts
Labels: package: carbon

Scheduled Events (#309)
  .changeset/tough-doors-tease.md
  apps/rocko/src/commands/testing/scheduled_events.ts
  apps/rocko/src/index.ts
  packages/carbon/src/index.ts
  packages/carbon/src/structures/Guild.ts
  packages/carbon/src/structures/GuildScheduledEvent.ts
Labels: package: carbon

feat: add CDN URL methods with format and size support (#312)
  .changeset/slow-eggs-sort.md
  packages/carbon/src/index.ts
  packages/carbon/src/structures/Emoji.ts
  packages/carbon/src/structures/GroupDmChannel.ts
  packages/carbon/src/structures/Guild.ts
  packages/carbon/src/structures/GuildMember.ts
  packages/carbon/src/structures/Role.ts
  packages/carbon/src/structures/User.ts
  packages/carbon/src/structures/Webhook.ts
  packages/carbon/src/utils/cdn.ts
  packages/carbon/src/utils/index.ts
Labels: package: carbon

feat: add GuildAvailable and GuildUnavailable events
  .changeset/chubby-yaks-occur.md
  packages/carbon/src/classes/Listener.ts
  packages/carbon/src/plugins/gateway/BabyCache.ts
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
  packages/carbon/src/types/listeners.ts
Labels: package: carbon

feat: add Guild#fetchRoleMemberCounts and Role#fetchMemberCount
  .changeset/floppy-shrimps-sip.md
  .changeset/happy-pears-boil.md
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/classes/Listener.ts
  packages/carbon/src/internals/CommandInteraction.ts
  packages/carbon/src/internals/FieldsHandler.ts
  packages/carbon/src/internals/OptionsHandler.ts
  packages/carbon/src/structures/Guild.ts
  packages/carbon/src/structures/GuildMember.ts
  packages/carbon/src/structures/Role.ts
Labels: package: carbon

feat: add Guild#fetchRoleMemberCounts and Role#fetchMemberCount (#313)
  .changeset/floppy-shrimps-sip.md
  .changeset/happy-pears-boil.md
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/classes/Listener.ts
  packages/carbon/src/internals/CommandInteraction.ts
  packages/carbon/src/internals/FieldsHandler.ts
  packages/carbon/src/internals/OptionsHandler.ts
  packages/carbon/src/structures/Guild.ts
  packages/carbon/src/structures/GuildMember.ts
  packages/carbon/src/structures/Role.ts
Labels: package: carbon

chore: update changelog and release (#304)
  .changeset/bitter-olives-roll.md
  .changeset/chubby-yaks-occur.md
  .changeset/dependencies-GH-305.md
  .changeset/dependencies-GH-306.md
  .changeset/floppy-shrimps-sip.md
  .changeset/happy-pears-boil.md
  .changeset/proud-women-lick.md
  .changeset/rotten-pants-sing.md
  .changeset/silent-ghosts-clean.md
  .changeset/silver-points-cover.md
  .changeset/slow-eggs-sort.md
  .changeset/thin-dots-allow.md
  .changeset/tough-doors-tease.md
  packages/carbon/CHANGELOG.md
  packages/carbon/package.json
  packages/create-carbon/CHANGELOG.md
  packages/create-carbon/package.json
Labels: package: carbon, package: create-carbon

feat: add voice plugin with gateway adapter
  .gitignore
  apps/socketo/package.json
  apps/socketo/src/commands/voice-connect.ts
  apps/socketo/src/index.ts
  packages/carbon/package.json
  packages/carbon/src/plugins/voice/GuildDeleteListener.ts
  packages/carbon/src/plugins/voice/VoicePlugin.ts
  packages/carbon/src/plugins/voice/index.ts
  pnpm-lock.yaml
Labels: dependencies, package: carbon

fix: add intent and catch for gateway send
  apps/socketo/src/index.ts
  packages/carbon/src/plugins/voice/VoicePlugin.ts
Labels: package: carbon

remove extra console.log oops
  packages/carbon/src/internals/EmojiHandler.ts
Labels: package: carbon

change version
  packages/carbon/package.json
Labels: package: carbon

update pnpm lock
  pnpm-lock.yaml
Labels: dependencies

add changeset
  .changeset/fuzzy-lizards-grow.md
Labels: none

feat: add voice plugin with gateway adapter (#316)
  .changeset/fuzzy-lizards-grow.md
  .gitignore
  apps/socketo/package.json
  apps/socketo/src/commands/voice-connect.ts
  apps/socketo/src/index.ts
  packages/carbon/package.json
  packages/carbon/src/plugins/voice/GuildDeleteListener.ts
  packages/carbon/src/plugins/voice/VoicePlugin.ts
  packages/carbon/src/plugins/voice/index.ts
  pnpm-lock.yaml
Labels: dependencies, package: carbon

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-318.md
Labels: none

update pnpm lock
  pnpm-lock.yaml
Labels: dependencies

fix: User#createDm took a userId parameter instead of using User#id
  packages/carbon/src/structures/User.ts
Labels: package: carbon

Add changeset
  .changeset/calm-pigs-hunt.md
Labels: none

fix: User#createDm took a userId parameter instead of using User#id (#320)
  .changeset/calm-pigs-hunt.md
  packages/carbon/src/structures/User.ts
Labels: package: carbon

feat: add support to send stickers in messages
  packages/carbon/src/types/index.ts
  packages/carbon/src/utils/payload.ts
Labels: package: carbon

chore: remove unused imports
  packages/carbon/src/types/index.ts
Labels: package: carbon

fix: consume HTTP response bodies in gateway forwarder to prevent memory leak
  packages/carbon/src/plugins/gateway-forwarder/GatewayForwarderPlugin.ts
Labels: package: carbon

fix: - `GatewayForwarderPlugin` memory leak
  .changeset/cold-candles-sin.md
  packages/carbon/src/plugins/gateway-forwarder/GatewayForwarderPlugin.ts
Labels: package: carbon

fix: ci build failures
  packages/carbon/src/abstracts/BaseModalComponent.ts
  packages/carbon/src/classes/components/FileUpload.ts
  packages/carbon/src/classes/components/Label.ts
  packages/carbon/src/index.ts
Labels: package: carbon

fix: consume request bodies on error
  .changeset/plain-actors-kneel.md
  packages/carbon/src/plugins/client-manager/ClientManager.ts
Labels: package: carbon

fix: another mem leak
  .changeset/plain-actors-kneel.md
  packages/carbon/src/plugins/client-manager/ClientManager.ts
Labels: package: carbon

style: changeset description update
  .changeset/cold-candles-sin.md
Labels: none

fix: consume request bodies on error (#323)
  .changeset/plain-actors-kneel.md
  packages/carbon/src/plugins/client-manager/ClientManager.ts
Labels: package: carbon

fix: `GatewayForwarderPlugin` memory leak (#322)
  .changeset/cold-candles-sin.md
  packages/carbon/src/abstracts/BaseModalComponent.ts
  packages/carbon/src/classes/components/FileUpload.ts
  packages/carbon/src/classes/components/Label.ts
  packages/carbon/src/index.ts
  packages/carbon/src/plugins/gateway-forwarder/GatewayForwarderPlugin.ts
Labels: package: carbon

.github/labeler.yml:

"dependencies":
    - changed-files:
        - any-glob-to-any-file: ["pnpm-lock.yaml"]
"package: carbon":
    - changed-files:
        - any-glob-to-any-file: ["packages/carbon/**"]
"package: create-carbon":
    - changed-files:
        - any-glob-to-any-file: ["packages/create-carbon/**"]
"plugin: gateway":
    - changed-files:
        - any-glob-to-any-file: [
            "packages/carbon/src/plugins/gateway-forwarder",
            "packages/carbon/src/plugins/gateway",
            "packages/carbon/src/plugins/sharding"
        ]
"package: linked-roles":
    - changed-files:
        - any-glob-to-any-file: ["packages/carbon/src/plugins/linked-roles"]
