Repository buape/carbon, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, package: carbon, package: create-carbon, plugin: gateway, package: linked-roles

.github/labeler.yml:

"dependencies":
    - changed-files:
        - any-glob-to-any-file: ["pnpm-lock.yaml"]
"package: carbon":
    - changed-files:
        - any-glob-to-any-file: ["packages/carbon/**"]
"package: create-carbon":
    - changed-files:
        - any-glob-to-any-file: ["packages/create-carbon/**"]
"plugin: gateway":
    - changed-files:
        - any-glob-to-any-file: [
            "packages/carbon/src/plugins/gateway-forwarder",
            "packages/carbon/src/plugins/gateway",
            "packages/carbon/src/plugins/sharding"
        ]
"package: linked-roles":
    - changed-files:
        - any-glob-to-any-file: ["packages/carbon/src/plugins/linked-roles"]

fix: prevent TS2322 errors in listener data types
  .changeset/green-brooms-wait.md
  packages/carbon/src/abstracts/BaseListener.ts
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/classes/Listener.ts
  packages/carbon/src/internals/EventQueue.ts
  packages/carbon/src/internals/TemporaryListenerManager.ts
  packages/create-carbon/template/_gateway/messageCreate.hbs
  packages/create-carbon/template/_gateway/ready.hbs
  website/content/classes/listeners.mdx
Labels: package: carbon, package: create-carbon

fix: resolve Bun adapter type error for port-based server options
  .changeset/quick-bugs-wave.md
  packages/carbon/src/adapters/bun/index.ts
Labels: package: carbon

chore: update dependencies
  apps/cloudo/package.json
  apps/cloudo/tsconfig.json
  apps/pointo/package.json
  apps/pointo/tsconfig.json
  apps/rocko/package.json
  apps/rocko/tsconfig.json
  apps/socketo/package.json
  apps/socketo/src/commands/voice-connect.ts
  apps/socketo/tsconfig.json
  package.json
  packages/carbon/package.json
  packages/carbon/src/internals/FieldsHandler.ts
  packages/carbon/src/plugins/paginator/index.ts
  packages/carbon/src/structures/Guild.ts
  packages/carbon/src/structures/Poll.ts
  packages/carbon/src/structures/Webhook.ts
  packages/carbon/src/types/index.ts
  packages/create-carbon/package.json
  packages/create-carbon/tsconfig.json
  pnpm-lock.yaml
Labels: dependencies, package: carbon, package: create-carbon

feat: add a CloudflareGatewayPlugin to allow long-lasting gateway connections on Cloudflare Workers
  .changeset/modern-hounds-win.md
  packages/carbon/src/abstracts/Plugin.ts
  packages/carbon/src/adapters/fetch/index.ts
  packages/carbon/src/plugins/cloudflare-gateway/CloudflareGatewayDurableObject.ts
  packages/carbon/src/plugins/cloudflare-gateway/CloudflareGatewayPlugin.ts
  packages/carbon/src/plugins/cloudflare-gateway/index.ts
  packages/carbon/src/plugins/cloudflare-gateway/types.ts
  packages/carbon/src/plugins/gateway-forwarder/GatewayForwarderPlugin.ts
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
  packages/carbon/src/plugins/gateway/types.ts
  packages/create-carbon/README.md
  packages/create-carbon/src/index.ts
  packages/create-carbon/template/README.md.hbs
  packages/create-carbon/template/_cloudflare/wrangler.jsonc.hbs
  packages/create-carbon/template/index.ts.hbs
  website/content/adapters/fetch/cloudflare.mdx
  website/content/concepts/http-bots.mdx
  website/content/plugins/gateway.mdx
Labels: package: carbon, package: create-carbon

fix: better ws loading for node Closes #375
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
  packages/carbon/src/plugins/gateway/types.ts
Labels: package: carbon

fix: web deploy
  .github/workflows/deploy-web.yml
  .github/workflows/web-ci.yml
  package.json
  pnpm-lock.yaml
  website/package.json
  website/wrangler.jsonc
Labels: dependencies

fix: use mjs tome config for cloudflare build
  website/tome.config.mjs
Labels: none

fix: dont swallow errors in gateway startup Closes #367
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
Labels: package: carbon

clean up repo
  .coderabbit.yaml
  AGENTS.md
  LICENSE
  formatter.mjs
Labels: none

update readme
  README.md
Labels: none

feat: add command middleware hooks (before/after) on client and command levels Closes #258
  .changeset/tiny-lies-juggle.md
  apps/cloudo/src/commands/testing/middleware.ts
  apps/cloudo/src/index.ts
  apps/socketo/src/commands/middleware.ts
  apps/socketo/src/index.ts
  packages/carbon/src/abstracts/BaseCommand.ts
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/internals/CommandHandler.ts
  packages/carbon/src/types/commandMiddleware.ts
  packages/carbon/src/types/index.ts
  website/pages/current/classes/commands.mdx
  website/pages/current/concepts/command-middlewares.mdx
  website/pages/current/concepts/index.mdx
  website/pages/current/concepts/prechecks.mdx
Labels: package: carbon

fix: repair renovate schedule syntax
  .github/renovate.json
Labels: none

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-377.md
Labels: none

run release PR updates always on main pushes
  .github/workflows/release.yml
Labels: none

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-355.md
Labels: none

chore(deps): bump @types/node and discord-api-types
  apps/pointo/package.json
  apps/rocko/package.json
  apps/socketo/package.json
  packages/carbon/package.json
  packages/create-carbon/package.json
  pnpm-lock.yaml
Labels: dependencies, package: carbon, package: create-carbon

use new version of vite
  website/package.json
Labels: none

clean up changesets
  .changeset/cool-rocks-look.md
  .changeset/dependencies-GH-346.md
  .changeset/dependencies-GH-354.md
  .changeset/dependencies-GH-377.md
  .changeset/tall-guests-report.md
  .changeset/ten-horses-protect.md
Labels: none

chore: update lockfile
  pnpm-lock.yaml
Labels: dependencies

feat: add deno and fetch runtimes as options
  .changeset/open-laws-refuse.md
  packages/create-carbon/README.md
  packages/create-carbon/src/index.ts
  packages/create-carbon/src/runtimes.ts
  packages/create-carbon/src/tools/npmHelpers.ts
  packages/create-carbon/template/.gitignore.hbs
  packages/create-carbon/template/README.md.hbs
  packages/create-carbon/template/_deno/deno.json.hbs
  packages/create-carbon/template/_fetch/local.ts.hbs
  packages/create-carbon/template/index.ts.hbs
  packages/create-carbon/template/package.json.hbs
  packages/create-carbon/template/tsconfig.json.hbs
Labels: package: create-carbon

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-380.md
Labels: none

feat: remove node/hono adapter from being built in to carbon, add it to create-carbon instead
  .changeset/sparkly-meals-add.md
  .vscode/settings.json
  apps/cloudo/src/commands/testing/options.ts
  packages/carbon/package.json
  packages/carbon/src/adapters/node/index.ts
  packages/create-carbon/src/tools/npmHelpers.ts
  packages/create-carbon/template/_fetch/local.ts.hbs
  packages/create-carbon/template/index.ts.hbs
  packages/create-carbon/template/package.json.hbs
  pnpm-lock.yaml
Labels: dependencies, package: carbon, package: create-carbon

feat: make channels nicer to use
  .changeset/thick-spoons-camp.md
  apps/rocko/src/index.ts
  packages/carbon/src/abstracts/BaseChannel.ts
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/classes/Listener.ts
  packages/carbon/src/functions/channelFactory.ts
  packages/carbon/src/structures/GroupDmChannel.ts
  packages/carbon/src/structures/Guild.ts
  packages/carbon/src/structures/GuildMediaChannel.ts
  packages/carbon/src/types/channels.ts
  packages/carbon/src/types/index.ts
  packages/carbon/src/types/listeners.ts
Labels: package: carbon

feat: add Guild#createChannel
  .changeset/lazy-apples-brush.md
  packages/carbon/src/structures/Guild.ts
Labels: package: carbon

fix broken import
  apps/rocko/src/index.ts
Labels: none

update tome
  package.json
  patches/@tomehq__core@0.8.0.patch
  patches/@tomehq__theme@0.7.0.patch
  pnpm-lock.yaml
  tome.config.mjs
  website/package.json
  website/scripts/generate-typedoc.mjs
Labels: dependencies

switch to gh changelog generator
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Labels: dependencies

use custom generator
  .changeset/config.json
  .changeset/generator.ts
  package.json
  pnpm-lock.yaml
Labels: dependencies

chore: formatting
  apps/cloudo/src/commands/testing/options.ts
Labels: none

chore: set 14 day min release time for deps
  .github/renovate.json
Labels: none

docs: update docs for the new node setup
  apps/rocko/package.json
  apps/rocko/src/index.ts
  apps/socketo/package.json
  apps/socketo/src/index.ts
  pnpm-lock.yaml
  website/pages/beta/adapters/node.mdx
  website/pages/beta/plugins/client-manager.mdx
Labels: dependencies

chore: update changelog and release (#382)
  .changeset/lazy-apples-brush.md
  .changeset/sparkly-meals-add.md
  .changeset/thick-spoons-camp.md
  packages/carbon/CHANGELOG.md
  packages/carbon/package.json
  packages/create-carbon/CHANGELOG.md
  packages/create-carbon/package.json
Labels: package: carbon, package: create-carbon

fix(ci): use beta docs folder in release workflow
  .github/workflows/release.yml
Labels: none

Prefer runtime WebSocket for gateway
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
  packages/carbon/tests/plugins/gateway.test.ts
Labels: package: carbon

fix(gateway): guard createRequire for cloudflare workers
  .changeset/gateway-require-guard.md
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
Labels: package: carbon

Delete .github/workflows/claude.yml
  .github/workflows/claude.yml
Labels: none

ci: provide github token for snapshot publish
  .github/workflows/release.yml
Labels: none

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-381.md
Labels: none

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-355.md
Labels: none

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-392.md
Labels: none
