Repository buape/carbon, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, package: carbon, package: create-carbon, plugin: gateway, package: linked-roles

fix circular dependency maybe
  packages/carbon/src/abstracts/BaseChannel.ts
  packages/carbon/src/structures/Guild.ts
  packages/carbon/src/structures/GuildMember.ts
  packages/carbon/src/structures/Message.ts
  packages/carbon/src/structures/Role.ts
  packages/carbon/src/structures/User.ts
  packages/carbon/src/utils/typeChecks.ts
Labels: package: carbon

Update Command.ts
  packages/carbon/src/classes/Command.ts
Labels: package: carbon

Update BaseCommand.ts
  packages/carbon/src/abstracts/BaseCommand.ts
Labels: package: carbon

actually fix circular dependencies this time
  packages/carbon/src/abstracts/BaseChannel.ts
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/classes/ClientWithCaching.ts
  packages/carbon/src/structures/Guild.ts
  packages/carbon/src/structures/GuildMember.ts
  packages/carbon/src/structures/Message.ts
  packages/carbon/src/structures/Role.ts
  packages/carbon/src/structures/User.ts
  packages/carbon/src/utils/typeChecks.ts
Labels: package: carbon

feat: Caching (#253)
  .changeset/rich-weeks-crash.md
  packages/carbon/src/abstracts/BaseChannel.ts
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/classes/ClientWithCaching.ts
  packages/carbon/src/index.ts
  packages/carbon/src/internals/Cache.ts
  packages/carbon/src/structures/Guild.ts
  packages/carbon/src/structures/GuildMember.ts
  packages/carbon/src/structures/Message.ts
  packages/carbon/src/structures/Role.ts
  packages/carbon/src/structures/User.ts
  website/content/classes/client.mdx
Labels: package: carbon

make cache get/set be async
  packages/carbon/src/abstracts/BaseChannel.ts
  packages/carbon/src/classes/ClientWithCaching.ts
  packages/carbon/src/internals/Cache.ts
  packages/carbon/src/structures/Guild.ts
  packages/carbon/src/structures/GuildMember.ts
  packages/carbon/src/structures/Message.ts
  packages/carbon/src/structures/Role.ts
  packages/carbon/src/structures/User.ts
Labels: package: carbon

make cache properties protected
  packages/carbon/src/internals/Cache.ts
Labels: package: carbon

feat: more Guild properties
  .changeset/six-shirts-talk.md
  packages/carbon/src/structures/Guild.ts
Labels: package: carbon

feat: webhooks and cache clearing
  .changeset/fuzzy-doodles-sing.md
  .changeset/wild-plums-dress.md
  packages/carbon/src/abstracts/BaseChannel.ts
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/index.ts
  packages/carbon/src/internals/Cache.ts
  packages/carbon/src/structures/Guild.ts
  packages/carbon/src/structures/GuildMember.ts
  packages/carbon/src/structures/Message.ts
  packages/carbon/src/structures/Role.ts
  packages/carbon/src/structures/Webhook.ts
Labels: package: carbon

add toString mentions
  .changeset/thirty-ideas-scream.md
  packages/carbon/src/abstracts/BaseChannel.ts
  packages/carbon/src/structures/Role.ts
  packages/carbon/src/structures/User.ts
Labels: package: carbon

support custom cache types
  packages/carbon/src/internals/Cache.ts
Labels: package: carbon

adjust typings for listeners that are returned
  packages/carbon/src/types/listeners.ts
Labels: package: carbon

listener cleanup, threadmember class
  .changeset/cruel-heads-jam.md
  .changeset/thirty-colts-argue.md
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/classes/Listener.ts
  packages/carbon/src/index.ts
  packages/carbon/src/internals/Cache.ts
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
  packages/carbon/src/structures/Guild.ts
  packages/carbon/src/structures/GuildMember.ts
  packages/carbon/src/structures/Message.ts
  packages/carbon/src/structures/Poll.ts
  packages/carbon/src/structures/Role.ts
  packages/carbon/src/structures/ThreadMember.ts
  packages/carbon/src/structures/User.ts
  packages/carbon/src/structures/Webhook.ts
  packages/carbon/src/types/listeners.ts
  pnpm-workspace.yaml
Labels: package: carbon

fix: moved all rawData to _rawData and added a getter method to get a readable rawData
  packages/carbon/src/structures/Guild.ts
  packages/carbon/src/structures/GuildMember.ts
  packages/carbon/src/structures/Message.ts
  packages/carbon/src/structures/Poll.ts
  packages/carbon/src/structures/Role.ts
  packages/carbon/src/structures/ThreadMember.ts
  packages/carbon/src/structures/User.ts
  packages/carbon/src/structures/Webhook.ts
Labels: package: carbon

lint: linted
  packages/carbon/src/structures/Guild.ts
  packages/carbon/src/structures/GuildMember.ts
  packages/carbon/src/structures/Message.ts
  packages/carbon/src/structures/Poll.ts
  packages/carbon/src/structures/Role.ts
  packages/carbon/src/structures/ThreadMember.ts
  packages/carbon/src/structures/User.ts
  packages/carbon/src/structures/Webhook.ts
Labels: package: carbon

fix: fixed gateway reconnection system
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
  packages/carbon/src/plugins/gateway/utils/monitor.ts
Labels: package: carbon

fix: unknown events should NOT crash the gateway (lazy fix)
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
Labels: package: carbon

fix: removed debugging code + fixed typo (coderabbit suggestions)
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
Labels: package: carbon

feat: added changeset
  .changeset/lovely-apes-decide.md
Labels: none

fix: several bugs in the gateway's reconnection system (#264)
  .changeset/lovely-apes-decide.md
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
  packages/carbon/src/plugins/gateway/utils/monitor.ts
Labels: package: carbon

remove caching from carbon for upcoming release
  .changeset/fuzzy-doodles-sing.md
  packages/carbon/src/abstracts/BaseChannel.ts
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/classes/ClientWithCaching.ts
  packages/carbon/src/index.ts
  packages/carbon/src/internals/Cache.ts
  packages/carbon/src/structures/Guild.ts
  packages/carbon/src/structures/GuildMember.ts
  packages/carbon/src/structures/Message.ts
  packages/carbon/src/structures/Role.ts
  packages/carbon/src/structures/User.ts
  packages/carbon/src/structures/Webhook.ts
  packages/carbon/website/content/classes/client.mdx
  website/content/classes/client.mdx
  website/content/concepts/prechecks.mdx
Labels: package: carbon

feat: support commands only in specific guilds Closes #262
  .changeset/blue-waves-hope.md
  apps/rocko/src/commands/ping.ts
  packages/carbon/src/abstracts/BaseCommand.ts
  packages/carbon/src/classes/Client.ts
  packages/create-carbon/template/index.ts.hbs
  website/content/adapters/bun.mdx
  website/content/adapters/fetch/cloudflare.mdx
  website/content/adapters/fetch/index.mdx
  website/content/adapters/fetch/next.mdx
  website/content/adapters/node.mdx
Labels: package: carbon, package: create-carbon

feat: enforce the 25 choices limit with a console warning
  .changeset/tough-ears-dig.md
  packages/carbon/src/classes/Command.ts
  packages/carbon/src/functions/enforceChoicesLimit.ts
  packages/carbon/src/internals/AutocompleteInteraction.ts
Labels: package: carbon

adjust formatter script to handle private fields
  formatter.mjs
Labels: none

feat: add support for subcommands alongside subcommand groups
  apps/rocko/src/commands/testing/subcommandgroup.ts
  packages/carbon/src/internals/CommandHandler.ts
Labels: package: carbon

chore: add changeset
  .changeset/cold-coats-behave.md
Labels: none

feat: add support for subcommands alongside subcommand groups (#265)
  .changeset/cold-coats-behave.md
  apps/rocko/src/commands/testing/subcommandgroup.ts
  packages/carbon/src/internals/CommandHandler.ts
Labels: package: carbon

Delete packages/carbon/website/content/classes/client.mdx
  packages/carbon/website/content/classes/client.mdx
Labels: package: carbon

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-268.md
Labels: none

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-269.md
Labels: none

fix: properly escape in docs
  formatter.mjs
Labels: none

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-268.md
Labels: none

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-269.md
Labels: none

fix: make Interaction#update() register components automatically like the other methods
  .changeset/cold-windows-rule.md
  packages/carbon/src/abstracts/BaseComponentInteraction.ts
  packages/carbon/src/abstracts/BaseInteraction.ts
Labels: package: carbon

web update
  .gitignore
  package.json
  pnpm-lock.yaml
  turbo.json
  website/next.config.mjs
  website/open-next.config.ts
  website/package.json
  website/public/_headers
  website/wrangler.jsonc
Labels: dependencies

web: change worker name
  website/wrangler.jsonc
Labels: none

web: add domain
  website/wrangler.jsonc
Labels: none

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-269.md
Labels: none

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-268.md
Labels: none

docs: fix several docs issues
  .gitignore
  package.json
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/index.ts
  packages/carbon/src/plugins/gateway/utils/payload.ts
  turbo.json
  website/app/(llms)/get.ts
  website/app/(llms)/llms-api.txt/route.ts
  website/app/(llms)/llms-full.txt/route.ts
  website/app/(llms)/llms.txt/route.ts
  website/generate-llm-txt.mjs
  website/package.json
  website/wrangler.jsonc
Labels: package: carbon

.github/labeler.yml:

"dependencies":
    - changed-files:
        - any-glob-to-any-file: ["pnpm-lock.yaml"]
"package: carbon":
    - changed-files:
        - any-glob-to-any-file: ["packages/carbon/**"]
"package: create-carbon":
    - changed-files:
        - any-glob-to-any-file: ["packages/create-carbon/**"]
"plugin: gateway":
    - changed-files:
        - any-glob-to-any-file: [
            "packages/carbon/src/plugins/gateway-forwarder",
            "packages/carbon/src/plugins/gateway",
            "packages/carbon/src/plugins/sharding"
        ]
"package: linked-roles":
    - changed-files:
        - any-glob-to-any-file: ["packages/carbon/src/plugins/linked-roles"]
