Repository buape/carbon, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, package: carbon, package: create-carbon, plugin: gateway, package: linked-roles

.github/labeler.yml:

"dependencies":
    - changed-files:
        - any-glob-to-any-file: ["pnpm-lock.yaml"]
"package: carbon":
    - changed-files:
        - any-glob-to-any-file: ["packages/carbon/**"]
"package: create-carbon":
    - changed-files:
        - any-glob-to-any-file: ["packages/create-carbon/**"]
"plugin: gateway":
    - changed-files:
        - any-glob-to-any-file: [
            "packages/carbon/src/plugins/gateway-forwarder",
            "packages/carbon/src/plugins/gateway",
            "packages/carbon/src/plugins/sharding"
        ]
"package: linked-roles":
    - changed-files:
        - any-glob-to-any-file: ["packages/carbon/src/plugins/linked-roles"]

add fieldshandler note to migration guide
  website/content/even-more/migration-guide.mdx
Labels: none

feat: updated to new Label components in modals
  .changeset/cold-monkey-swim.md
  apps/cloudo/src/commands/testing/modal.ts
  apps/rocko/src/commands/testing/modal.ts
  examples/modal-migration.md
  package.json
  packages/carbon/src/abstracts/AnySelectMenu.ts
  packages/carbon/src/abstracts/BaseComponent.ts
  packages/carbon/src/abstracts/BaseModalComponent.ts
  packages/carbon/src/classes/Modal.ts
  packages/carbon/src/classes/components/Label.ts
  packages/carbon/src/classes/components/ModalStringSelectMenu.ts
  packages/carbon/src/classes/components/TextInput.ts
  packages/carbon/src/index.ts
  packages/carbon/src/internals/FieldsHandler.ts
  packages/carbon/src/plugins/paginator/GoToPageModal.ts
  pnpm-lock.yaml
  website/content/even-more/migration-guide.mdx
Labels: dependencies, package: carbon

final fixes
  .changeset/ninety-women-judge.md
  .changeset/strong-points-pull.md
  apps/cloudo/src/commands/testing/modal.ts
  apps/rocko/src/commands/testing/modal.ts
  examples/modal-migration.md
  packages/carbon/package.json
  packages/carbon/src/abstracts/AnySelectMenu.ts
  packages/carbon/src/abstracts/BaseGuildChannel.ts
  packages/carbon/src/abstracts/BaseModalComponent.ts
  packages/carbon/src/abstracts/GuildThreadOnlyChannel.ts
  packages/carbon/src/classes/Listener.ts
  packages/carbon/src/classes/Modal.ts
  packages/carbon/src/classes/components/Container.ts
  packages/carbon/src/classes/components/Label.ts
  packages/carbon/src/classes/components/ModalStringSelectMenu.ts
  packages/carbon/src/classes/components/Row.ts
  packages/carbon/src/classes/components/TextInput.ts
  packages/carbon/src/index.ts
  packages/carbon/src/internals/FieldsHandler.ts
  packages/carbon/src/plugins/paginator/Paginator.ts
  packages/carbon/src/structures/GuildAnnouncementChannel.ts
  packages/carbon/src/structures/GuildCategoryChannel.ts
  packages/carbon/src/structures/GuildMember.ts
  packages/carbon/src/structures/GuildStageOrVoiceChannel.ts
  packages/carbon/src/structures/GuildTextChannel.ts
  packages/carbon/src/types/listeners.ts
  pnpm-lock.yaml
  website/content/classes/components/label.mdx
  website/content/classes/modals.mdx
  website/content/even-more/migration-guide.mdx
Labels: dependencies, package: carbon

fix: correct customIdParser to parse properly Closes #282
  packages/carbon/src/classes/components/TextInput.ts
  packages/carbon/src/utils/customIdParser.ts
  packages/carbon/tests/utils/customIdParser.test.ts
Labels: package: carbon

fix docs
  examples/modal-migration.md
Labels: none

feat: new pinned messages routes Closes #279
  .changeset/big-vans-shine.md
  packages/carbon/src/abstracts/BaseGuildTextChannel.ts
  packages/carbon/src/structures/Message.ts
Labels: package: carbon

feat: allow readonly access to the rawData for all classes Closes #280
  .changeset/pink-yaks-know.md
  packages/carbon/src/abstracts/BaseChannel.ts
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/structures/DmChannel.ts
  packages/carbon/src/structures/GroupDmChannel.ts
  packages/carbon/src/structures/Guild.ts
  packages/carbon/src/structures/GuildMember.ts
  packages/carbon/src/structures/Message.ts
  packages/carbon/src/structures/Poll.ts
  packages/carbon/src/structures/Role.ts
  packages/carbon/src/structures/ThreadMember.ts
  packages/carbon/src/structures/User.ts
  packages/carbon/src/structures/Webhook.ts
Labels: package: carbon

feat: allow functions to be passed to set ephemeral and defer capabilities Closes #261
  .changeset/cute-memes-glow.md
  apps/rocko/src/commands/testing/ephemeral.ts
  packages/carbon/src/abstracts/BaseCommand.ts
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/abstracts/BaseMessageInteractiveComponent.ts
  packages/carbon/src/internals/CommandHandler.ts
  packages/carbon/src/internals/ComponentHandler.ts
  packages/carbon/src/types/index.ts
Labels: package: carbon

feat: allow option-specific autocomplete functions Closes #257
  .changeset/fuzzy-pugs-invite.md
  apps/rocko/src/commands/testing/options.ts
  packages/carbon/src/classes/Command.ts
  packages/carbon/src/internals/CommandHandler.ts
  packages/carbon/src/internals/OptionsHandler.ts
  website/content/classes/commands.mdx
Labels: package: carbon

update changeset
  .changeset/cold-monkey-swim.md
Labels: none

feat: add support for nodejs-style process.env in cloudflare and cleanup template files
  .changeset/giant-jokes-return.md
  apps/cloudo/package.json
  apps/cloudo/src/entry.ts
  apps/cloudo/wrangler.jsonc
  apps/cloudo/wrangler.toml
  packages/create-carbon/template/_cloudflare/entry.ts.hbs
  packages/create-carbon/template/_cloudflare/wrangler.jsonc.hbs
  packages/create-carbon/template/_cloudflare/wrangler.toml.hbs
  packages/create-carbon/template/button.ts.hbs
  packages/create-carbon/template/package.json.hbs
  pnpm-lock.yaml
Labels: dependencies, package: create-carbon

chore: update changelog and release (#285)
  .changeset/big-vans-shine.md
  .changeset/cold-monkey-swim.md
  .changeset/cute-memes-glow.md
  .changeset/fuzzy-pugs-invite.md
  .changeset/giant-jokes-return.md
  .changeset/ninety-women-judge.md
  .changeset/pink-yaks-know.md
  .changeset/strong-points-pull.md
  packages/carbon/CHANGELOG.md
  packages/carbon/package.json
  packages/create-carbon/CHANGELOG.md
  packages/create-carbon/package.json
Labels: package: carbon, package: create-carbon

switch cache setups and adjust meta.json files
  packages/carbon/CHANGELOG.md
  website/content/concepts/meta.json
  website/content/even-more/meta.json
  website/content/even-more/migration-guide.mdx
  website/content/plugins/meta.json
  website/open-next.config.ts
  website/package.json
  website/wrangler.jsonc
Labels: package: carbon

Fix casing in link
  website/content/getting-started/introduction.mdx
Labels: none

Update gateway.mdx casing
  website/content/plugins/gateway.mdx
Labels: none

Update why-classes.mdx link
  website/content/even-more/why-classes.mdx
Labels: none

Fix casing in link (#287)
  website/content/even-more/why-classes.mdx
  website/content/getting-started/introduction.mdx
  website/content/plugins/gateway.mdx
Labels: none

Update powered-by-carbon.mdx
  website/content/even-more/powered-by-carbon.mdx
Labels: none

adjust grammar
  website/content/even-more/powered-by-carbon.mdx
Labels: none

Update powered-by-carbon.mdx (#290)
  website/content/even-more/powered-by-carbon.mdx
Labels: none

feat: add clientId to every event payload
  .changeset/quiet-loops-teach.md
  packages/carbon/src/abstracts/BaseListener.ts
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/internals/EventHandler.ts
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
  packages/carbon/src/types/listeners.ts
Labels: package: carbon

fix snapshot workflow
  .github/workflows/snapshot.yml
Labels: none

cleanup repo
  .github/disabled_workflows/docs-test.yml
  examples/modal-migration.md
  turbo.json
  turbo/generators/config.ts
  turbo/generators/templates/README.md.hbs
  turbo/generators/templates/package.json.hbs
  turbo/generators/templates/src/index.ts.hbs
  turbo/generators/templates/tests/index.test.ts.hbs
  turbo/generators/templates/tsconfig.json.hbs
  turbo/generators/templates/typedoc.json.hbs
  turbo/generators/templates/web/index.mdx.hbs
  turbo/generators/templates/web/meta.json.hbs
  typedoc.json
Labels: none

new api docs
  .gitignore
  biome.json
  package.json
  packages/carbon/src/plugins/gateway/index.ts
  packages/carbon/typedoc.json
  website/app/api/(docs)/[...slug]/page.tsx
  website/app/api/(docs)/page.tsx
  website/app/layout.config.tsx
  website/components/api-constants.ts
  website/components/api-docs.tsx
  website/components/api-item-detail.tsx
  website/components/api-tree.ts
  website/components/mdx-components.tsx
  website/content/meta.json
  website/copy-api.sh
  website/generate-llm-txt.mjs
  website/package.json
  website/scripts/generate-api-docs.js
  website/scripts/generate-llm-txt.mjs
Labels: package: carbon

fix api docs
  website/app/api/(docs)/[...slug]/page.tsx
  website/app/api/(docs)/page.tsx
  website/components/api-item-detail.tsx
  website/components/api-tree.ts
Labels: none

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-292.md
Labels: none

feat: add support for current member set banner/avatar/bio
  .changeset/social-bananas-grow.md
  packages/carbon/src/structures/GuildMember.ts
Labels: package: carbon

feat: add support for application emojis and add a guildemoji class Closes #236
  .changeset/thirty-pots-tickle.md
  apps/cloudo/src/commands/testing/emoji.ts
  apps/cloudo/src/index.ts
  apps/rocko/src/commands/testing/emoji.ts
  apps/rocko/src/index.ts
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/internals/EmojiHandler.ts
  packages/carbon/src/structures/Emoji.ts
  packages/carbon/src/structures/Guild.ts
Labels: package: carbon

Add ability to set bio to null
  packages/carbon/src/structures/GuildMember.ts
Labels: package: carbon

Fix cache desync when clearing banner/avatar (null not applied).
  packages/carbon/src/structures/GuildMember.ts
Labels: package: carbon

feat: modal selects and better options/fields handling Closes #289
  .changeset/long-deer-think.md
  .changeset/tired-feet-remain.md
  apps/cloudo/src/commands/testing/modal.ts
  apps/cloudo/src/commands/testing/modal2.ts
  apps/rocko/src/commands/testing/modal.ts
  apps/rocko/src/commands/testing/modal2.ts
  package.json
  packages/carbon/package.json
  packages/carbon/src/abstracts/AnySelectMenu.ts
  packages/carbon/src/classes/Modal.ts
  packages/carbon/src/classes/components/Label.ts
  packages/carbon/src/internals/FieldsHandler.ts
  packages/carbon/src/internals/OptionsHandler.ts
  pnpm-lock.yaml
  website/content/classes/components/label.mdx
  website/content/classes/components/text-display.mdx
Labels: dependencies, package: carbon

coderabbit suggestion
  .changeset/tired-feet-remain.md
Labels: none

more requested changes from coderabbit
  apps/cloudo/src/commands/testing/modal2.ts
  apps/rocko/src/commands/testing/modal2.ts
  packages/carbon/src/internals/FieldsHandler.ts
  packages/carbon/src/internals/OptionsHandler.ts
Labels: package: carbon

requested changes from coderabbit
  packages/carbon/src/structures/Emoji.ts
  packages/carbon/src/structures/Guild.ts
Labels: package: carbon

feat: add support for application emojis and add a guildemoji class (#296)
  .changeset/thirty-pots-tickle.md
  apps/cloudo/src/commands/testing/emoji.ts
  apps/cloudo/src/index.ts
  apps/rocko/src/commands/testing/emoji.ts
  apps/rocko/src/index.ts
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/internals/EmojiHandler.ts
  packages/carbon/src/structures/Emoji.ts
  packages/carbon/src/structures/Guild.ts
Labels: package: carbon

feat: ephemeral shorthand
  apps/rocko/src/commands/testing/ephemeral_shorthand.ts
  apps/rocko/src/index.ts
  packages/carbon/src/types/index.ts
  packages/carbon/src/utils/payload.ts
Labels: package: carbon

chore: changeset
  .changeset/odd-mugs-flow.md
Labels: none

fix: requested changes
  packages/carbon/src/utils/payload.ts
Labels: package: carbon

feat: ephemeral shorthand in message payloads (#297)
  .changeset/odd-mugs-flow.md
  apps/rocko/src/commands/testing/ephemeral_shorthand.ts
  apps/rocko/src/index.ts
  packages/carbon/src/types/index.ts
  packages/carbon/src/utils/payload.ts
Labels: package: carbon

feat: modal selects and better options/fields handling (#294)
  .changeset/long-deer-think.md
  .changeset/tired-feet-remain.md
  apps/cloudo/src/commands/testing/modal.ts
  apps/cloudo/src/commands/testing/modal2.ts
  apps/rocko/src/commands/testing/modal.ts
  apps/rocko/src/commands/testing/modal2.ts
  package.json
  packages/carbon/package.json
  packages/carbon/src/abstracts/AnySelectMenu.ts
  packages/carbon/src/classes/Modal.ts
  packages/carbon/src/classes/components/Label.ts
  packages/carbon/src/internals/FieldsHandler.ts
  packages/carbon/src/internals/OptionsHandler.ts
  pnpm-lock.yaml
  website/content/classes/components/label.mdx
  website/content/classes/components/text-display.mdx
Labels: dependencies, package: carbon
