Repository buape/carbon, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, package: carbon, package: create-carbon, plugin: gateway, package: linked-roles

add statustext to error log for forwarders
  packages/carbon/src/plugins/gateway-forwarder/GatewayForwarderPlugin.ts
Labels: package: carbon

feat: misc performance improvements
  .changeset/chubby-clowns-kneel.md
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/internals/ComponentHandler.ts
  packages/carbon/src/internals/EventHandler.ts
  packages/carbon/src/internals/EventQueue.ts
  packages/carbon/src/internals/TemporaryListenerManager.ts
  packages/carbon/src/plugins/gateway/BabyCache.ts
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
  packages/carbon/src/utils/LRUCache.ts
Labels: package: carbon

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-325.md
Labels: none

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-324.md
Labels: none

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-325.md
Labels: none

feat: add support to send stickers in messages (#321)
  packages/carbon/src/types/index.ts
  packages/carbon/src/utils/payload.ts
Labels: package: carbon

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-324.md
Labels: none

fix: oneoffComponent handling + feat: editAndWaitForComponent method
  .changeset/fine-news-guess.md
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/internals/ComponentHandler.ts
Labels: package: carbon

fix: add a separate changeset and make messages explicitly non-partial
  .changeset/eight-taxis-begin.md
  .changeset/fine-news-guess.md
  packages/carbon/src/abstracts/BaseInteraction.ts
Labels: package: carbon

feat: Add editAndWaitForComponent(), return message in replyAndWaitForComponent() (#328)
  .changeset/eight-taxis-begin.md
  .changeset/fine-news-guess.md
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/internals/ComponentHandler.ts
Labels: package: carbon

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-324.md
Labels: none

chore: change some changesets to minor status
  .changeset/eight-taxis-begin.md
  .changeset/fine-news-guess.md
  .changeset/fuzzy-lizards-grow.md
Labels: none

adjust section requirements
  packages/carbon/src/classes/components/Section.ts
  website/content/classes/components/section.mdx
Labels: package: carbon

feat: allow direct instantiation of certain components
  .changeset/old-pumas-greet.md
  apps/cloudo/src/commands/testing/components_v2.ts
  apps/cloudo/src/index.ts
  apps/rocko/src/commands/testing/components_v2.ts
  packages/carbon/src/classes/components/Container.ts
  packages/carbon/src/classes/components/MediaGallery.ts
  packages/carbon/src/classes/components/Section.ts
  packages/carbon/src/classes/components/Thumbnail.ts
  website/content/classes/components/buttons.mdx
  website/content/classes/components/container.mdx
  website/content/classes/components/section.mdx
  website/content/classes/components/select-menus.mdx
Labels: package: carbon

fix: Adjust how the nextjs handler is created Closes #301
  .changeset/slimy-taxes-shout.md
  packages/create-carbon/template/index.ts.hbs
  website/content/adapters/fetch/next.mdx
Labels: package: create-carbon

feat: Add Interaction#targetMessage and Interaction#targetUser for Message and User context menu commands Closes #314
  .changeset/mighty-boats-jog.md
  packages/carbon/src/internals/CommandInteraction.ts
  website/content/classes/commands.mdx
Labels: package: carbon

feat: add Command#getMention method Closes #326
  .changeset/violet-experts-fix.md
  packages/carbon/src/abstracts/BaseCommand.ts
  packages/carbon/src/classes/Client.ts
  website/content/classes/commands.mdx
Labels: package: carbon

chore: remove @turbo/gen because it has a lot of poorly maintained deps
  CLAUDE.md
  package.json
  pnpm-lock.yaml
Labels: dependencies

chore: update dependencies
  apps/cloudo/package.json
  apps/pointo/package.json
  apps/rocko/package.json
  apps/rocko/src/commands/testing/components_v2.ts
  apps/socketo/package.json
  biome.json
  package.json
  packages/carbon/package.json
  packages/carbon/src/adapters/bun/index.ts
  packages/create-carbon/package.json
  pnpm-lock.yaml
  website/app/global.css
  website/package.json
Labels: dependencies, package: carbon, package: create-carbon

remove extra update deps changeset
  .changeset/dependencies-GH-325.md
Labels: none

feat: add a getMember method to the OptionsHandler to get the member data from a user option
  .changeset/eighty-cups-guess.md
  packages/carbon/src/internals/OptionsHandler.ts
  packages/carbon/src/structures/GuildMember.ts
Labels: package: carbon

feat: allow direct instantiation of certain components (#329)
  .changeset/old-pumas-greet.md
  apps/cloudo/src/commands/testing/components_v2.ts
  apps/cloudo/src/index.ts
  apps/rocko/src/commands/testing/components_v2.ts
  packages/carbon/src/classes/components/Container.ts
  packages/carbon/src/classes/components/MediaGallery.ts
  packages/carbon/src/classes/components/Section.ts
  packages/carbon/src/classes/components/Thumbnail.ts
  website/content/classes/components/buttons.mdx
  website/content/classes/components/container.mdx
  website/content/classes/components/section.mdx
  website/content/classes/components/select-menus.mdx
Labels: package: carbon

chore: update deps
  apps/cloudo/package.json
  apps/cloudo/src/commands/testing/components_v2.ts
  apps/rocko/src/commands/testing/components_v2.ts
  package.json
  packages/carbon/package.json
  pnpm-lock.yaml
  website/package.json
Labels: dependencies, package: carbon

fix lockfile
  pnpm-lock.yaml
Labels: dependencies

fix: Add handling to the component customIdParser so long numerical strings do not get casted to a Number
  .changeset/bitter-doodles-drum.md
  packages/carbon/src/utils/customIdParser.ts
Labels: package: carbon

use isSafeInteger to determine safe number lengths
  packages/carbon/src/utils/customIdParser.ts
Labels: package: carbon

change changeset to properly changeset the changes
  .changeset/bitter-doodles-drum.md
Labels: none

sob
  packages/carbon/src/utils/customIdParser.ts
Labels: package: carbon

ci: formatting
  packages/carbon/src/utils/customIdParser.ts
  pnpm-lock.yaml
Labels: dependencies, package: carbon

ci: tests
  packages/carbon/src/utils/customIdParser.ts
  packages/carbon/tests/utils/customIdParser.test.ts
Labels: package: carbon

feat: Add better ratelimit handling and queue control for the RequestClient
  .changeset/six-nights-attend.md
  packages/carbon/src/classes/RequestClient.ts
  packages/carbon/tests/classes/requestClient.test.ts
Labels: package: carbon

fix: Add handling to the component customIdParser so long numerical strings do not get casted to a Number (#331)
  .changeset/bitter-doodles-drum.md
  packages/carbon/src/utils/customIdParser.ts
  packages/carbon/tests/utils/customIdParser.test.ts
  pnpm-lock.yaml
Labels: dependencies, package: carbon

fix: adjust how these cv2 params are passed
  packages/carbon/src/classes/components/Container.ts
  packages/carbon/src/classes/components/File.ts
  packages/carbon/src/classes/components/Row.ts
  packages/carbon/src/classes/components/Section.ts
  packages/carbon/src/classes/components/TextDisplay.ts
Labels: package: carbon

chore: disable auto-enrich
  .coderabbit.yaml
Labels: none

fix the testing commands
  apps/cloudo/src/commands/testing/components_v2.ts
  apps/rocko/src/commands/testing/components_v2.ts
Labels: none

feat: globally register modals
  .changeset/pretty-streets-warn.md
  .changeset/sweet-carpets-strive.md
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/internals/ComponentHandler.ts
Labels: package: carbon

chore: enable webhook tests
  .github/workflows/ci.yml
Labels: none

fix: correct typo 2 – electric boogaloo ("deferring")
  website/content/concepts/interaction-responses.mdx
Labels: none

fix: correct typo 2 – electric boogaloo ("deferring") (#335)
  website/content/concepts/interaction-responses.mdx
Labels: none

fix: support numbers in autocomplete responses
  .changeset/upset-lilies-show.md
  packages/carbon/src/internals/AutocompleteInteraction.ts
Labels: package: carbon

.github/labeler.yml:

"dependencies":
    - changed-files:
        - any-glob-to-any-file: ["pnpm-lock.yaml"]
"package: carbon":
    - changed-files:
        - any-glob-to-any-file: ["packages/carbon/**"]
"package: create-carbon":
    - changed-files:
        - any-glob-to-any-file: ["packages/create-carbon/**"]
"plugin: gateway":
    - changed-files:
        - any-glob-to-any-file: [
            "packages/carbon/src/plugins/gateway-forwarder",
            "packages/carbon/src/plugins/gateway",
            "packages/carbon/src/plugins/sharding"
        ]
"package: linked-roles":
    - changed-files:
        - any-glob-to-any-file: ["packages/carbon/src/plugins/linked-roles"]
