Repository buape/carbon, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, p:carbon, p:discord-request, p:nodejs, docs

.github/labeler.yml:

"dependencies":
    - changed-files:
          - any-glob-to-any-file: ["pnpm-lock.yaml"]
"p:carbon":
    - changed-files:
          - any-glob-to-any-file: ["packages/carbon/**"]
"p:discord-request":
    - changed-files:
          - any-glob-to-any-file: ["packages/discord-request/**"]
"p:nodejs":
    - changed-files:
          - any-glob-to-any-file: ["packages/nodejs/**"]
"docs":
    - changed-files:
          - any-glob-to-any-file: ["apps/website/**"]

feat: user structure & getters (#41)
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/structures/Message.ts
  packages/carbon/src/structures/User.ts
Labels: p:carbon

Update action.yml
  .github/actions/setup/action.yml
Labels: none

Update action.yml
  .github/actions/setup/action.yml
Labels: none

make baseinteraction generic
  packages/carbon/src/abstracts/BaseComponentInteraction.ts
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/abstracts/CommandInteraction.ts
Labels: p:carbon

Export user class
  packages/carbon/src/classes/Paginator.ts
  packages/carbon/src/index.ts
Labels: p:carbon

feat: new request client Closes Basic Error Classes #45
  apps/rocko/src/index.ts
  package.json
  packages/carbon/package.json
  packages/carbon/src/abstracts/BaseCommand.ts
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/classes/Client.ts
  packages/carbon/tests/index.test.ts
  packages/discord-request/CHANGELOG.md
  packages/discord-request/LICENSE
  packages/discord-request/README.md
  packages/discord-request/package.json
  packages/discord-request/src/client.ts
  packages/discord-request/src/definitions.ts
  packages/discord-request/src/errors/rate-limit-error.ts
  packages/discord-request/src/errors/request-error.ts
  packages/discord-request/src/index.ts
  packages/discord-request/src/request.ts
  packages/discord-request/src/response.ts
  packages/discord-request/test/callbacks.test.ts
  packages/discord-request/test/client.test.ts
  packages/discord-request/test/configuration.test.ts
  packages/discord-request/test/errors.test.ts
  packages/discord-request/test/requests.test.ts
  packages/discord-request/test/signals.test.ts
  packages/discord-request/test/util/mock-fetch.ts
  packages/discord-request/tsconfig.json
  packages/request/README.md
  packages/request/package.json
  packages/request/src/RequestClient.ts
  packages/request/src/errors/BaseError.ts
  packages/request/src/errors/DiscordError.ts
  packages/request/src/errors/RatelimitError.ts
  packages/request/src/errorsMapper.ts
  packages/request/src/index.ts
  packages/request/tests/errors.test.ts
  packages/request/tests/requestClient.test.ts
  packages/request/tsconfig.json
  packages/request/typedoc.json
  pnpm-lock.yaml
Labels: dependencies, p:carbon, p:discord-request

FIX THE STUPID CF DEFER! Closes Fix replying to a deferred message #42
  apps/cloudo/src/commands/testing/button.ts
  packages/carbon/src/abstracts/CommandHandler.ts
  packages/carbon/src/classes/Client.ts
Labels: p:carbon

chore: run formatter
  packages/request/src/errors/DiscordError.ts
  packages/request/tests/errors.test.ts
  packages/request/tests/requestClient.test.ts
  packages/request/typedoc.json
Labels: none

feat: role structure and cross-references
  packages/carbon/src/structures/Guild.ts
  packages/carbon/src/structures/Role.ts
Labels: p:carbon

fix: ci
  packages/carbon/src/structures/Guild.ts
  packages/carbon/src/structures/Role.ts
Labels: p:carbon

feat: role structure and cross-references (#47)
  packages/carbon/src/structures/Guild.ts
  packages/carbon/src/structures/Role.ts
Labels: p:carbon

add commands to cloudo
  apps/cloudo/src/commands/ping.ts
  apps/cloudo/src/commands/testing/button.ts
  apps/cloudo/src/commands/testing/every_select.ts
  apps/cloudo/src/commands/testing/subcommand.ts
  apps/cloudo/src/commands/testing/subcommandgroup.ts
  apps/cloudo/src/index.ts
Labels: none

initial typings for structure
  .vscode/settings.json
  packages/carbon/src/README.md
  packages/carbon/src/abstracts/BaseChannel.ts
  packages/carbon/src/abstracts/BaseGuildChannel.ts
  packages/carbon/src/abstracts/BaseGuildTextChannel.ts
  packages/carbon/src/abstracts/GuildThreadOnlyChannel.ts
  packages/carbon/src/classes/Button.ts
  packages/carbon/src/classes/ChannelSelectMenu.ts
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/classes/Command.ts
  packages/carbon/src/classes/MentionableSelectMenu.ts
  packages/carbon/src/classes/README.md
  packages/carbon/src/classes/RoleSelectMenu.ts
  packages/carbon/src/classes/StringSelectMenu.ts
  packages/carbon/src/classes/UserSelectMenu.ts
  packages/carbon/src/factories/channelFactory.ts
  packages/carbon/src/index.ts
  packages/carbon/src/internals/ButtonInteraction.ts
  packages/carbon/src/internals/ChannelSelectMenuInteraction.ts
  packages/carbon/src/internals/CommandHandler.ts
  packages/carbon/src/internals/CommandInteraction.ts
  packages/carbon/src/internals/ComponentHandler.ts
  packages/carbon/src/internals/MentionableSelectMenuInteraction.ts
  packages/carbon/src/internals/RoleSelectMenuInteraction.ts
  packages/carbon/src/internals/StringSelectMenuInteraction.ts
  packages/carbon/src/internals/UserSelectMenuInteraction.ts
  packages/carbon/src/structures/DmChannel.ts
  packages/carbon/src/structures/GroupDmChannel.ts
  packages/carbon/src/structures/GuildAnnouncementChannel.ts
  packages/carbon/src/structures/GuildCategoryChannel.ts
  packages/carbon/src/structures/GuildForumChannel.ts
  packages/carbon/src/structures/GuildMediaChannel.ts
  packages/carbon/src/structures/GuildStageOrVoiceChannel.ts
  packages/carbon/src/structures/GuildTextChannel.ts
  packages/carbon/src/structures/GuildThreadChannel.ts
Labels: p:carbon

add methods
  packages/carbon/src/README.md
  packages/carbon/src/abstracts/BaseGuildChannel.ts
  packages/carbon/src/abstracts/BaseGuildTextChannel.ts
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/abstracts/GuildThreadOnlyChannel.ts
  packages/carbon/src/factories/channelFactory.ts
  packages/carbon/src/index.ts
  packages/carbon/src/structures/DmChannel.ts
  packages/carbon/src/structures/GroupDmChannel.ts
  packages/carbon/src/structures/Guild.ts
  packages/carbon/src/structures/GuildAnnouncementChannel.ts
  packages/carbon/src/structures/GuildCategoryChannel.ts
  packages/carbon/src/structures/GuildForumChannel.ts
  packages/carbon/src/structures/GuildMediaChannel.ts
  packages/carbon/src/structures/GuildStageOrVoiceChannel.ts
  packages/carbon/src/structures/GuildTextChannel.ts
  packages/carbon/src/structures/GuildThreadChannel.ts
  packages/carbon/src/structures/Message.ts
  packages/request/src/RequestClient.ts
Labels: p:carbon

fix ci
  apps/cloudo/src/index.ts
  package.json
  packages/carbon/src/abstracts/BaseChannel.ts
  packages/carbon/src/abstracts/BaseGuildChannel.ts
  packages/carbon/src/abstracts/BaseGuildTextChannel.ts
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/abstracts/GuildThreadOnlyChannel.ts
  packages/carbon/src/factories/channelFactory.ts
  packages/carbon/src/internals/ButtonInteraction.ts
  packages/carbon/src/internals/ChannelSelectMenuInteraction.ts
  packages/carbon/src/internals/CommandHandler.ts
  packages/carbon/src/internals/CommandInteraction.ts
  packages/carbon/src/internals/ComponentHandler.ts
  packages/carbon/src/internals/MentionableSelectMenuInteraction.ts
  packages/carbon/src/internals/RoleSelectMenuInteraction.ts
  packages/carbon/src/internals/StringSelectMenuInteraction.ts
  packages/carbon/src/internals/UserSelectMenuInteraction.ts
  packages/carbon/src/structures/GroupDmChannel.ts
  packages/carbon/src/structures/Guild.ts
  packages/carbon/src/structures/GuildThreadChannel.ts
  packages/carbon/src/structures/Message.ts
Labels: p:carbon

switch ci command
  .github/workflows/ci.yml
Labels: none

document factories
  packages/carbon/src/README.md
Labels: p:carbon

feat: Options handler Closes #44
  apps/rocko/src/commands/testing/options.ts
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/classes/Command.ts
  packages/carbon/src/index.ts
  packages/carbon/src/internals/CommandInteraction.ts
  packages/carbon/src/internals/OptionsHandler.ts
  packages/request/src/RequestClient.ts
Labels: p:carbon

fix ci
  .github/workflows/docs.yml
Labels: none

docs fixes
  packages/carbon/src/abstracts/BaseCommand.ts
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/index.ts
  packages/carbon/src/structures/User.ts
  website/public/CNAME
Labels: p:carbon

component fixup
  website/mdx-components.tsx
Labels: none

template update
  turbo/generators/config.ts
  turbo/generators/templates/web/index.mdx.hbs
  turbo/generators/templates/web/meta.json.hbs
Labels: none

feat: linked roles
  .vscode/settings.json
  apps/rocko/package.json
  apps/rocko/src/index.ts
  packages/linked-roles/README.md
  packages/linked-roles/package.json
  packages/linked-roles/src/LinkedRoles.ts
  packages/linked-roles/src/index.ts
  packages/linked-roles/src/types.ts
  packages/linked-roles/tsconfig.json
  packages/linked-roles/typedoc.json
  pnpm-lock.yaml
  website/app/[...slug]/toggle.tsx
  website/content/linked-roles/index.mdx
  website/content/linked-roles/meta.json
Labels: dependencies

chore: formatting
  apps/rocko/src/index.ts
  formatter.mjs
  website/app/[...slug]/page.tsx
  website/app/source.ts
  website/mdx-components.tsx
Labels: none

feat: linked roles
  .vscode/settings.json
  apps/rocko/package.json
  apps/rocko/src/index.ts
  packages/linked-roles/README.md
  packages/linked-roles/package.json
  packages/linked-roles/src/LinkedRoles.ts
  packages/linked-roles/src/index.ts
  packages/linked-roles/src/types.ts
  packages/linked-roles/tsconfig.json
  packages/linked-roles/typedoc.json
  pnpm-lock.yaml
  website/app/[...slug]/toggle.tsx
  website/content/linked-roles/index.mdx
  website/content/linked-roles/meta.json
Labels: dependencies

chore: formatting
  apps/rocko/src/index.ts
  formatter.mjs
  website/app/[...slug]/page.tsx
  website/app/source.ts
  website/mdx-components.tsx
Labels: none

template update
  turbo/generators/config.ts
  turbo/generators/templates/web/index.mdx.hbs
  turbo/generators/templates/web/meta.json.hbs
Labels: none

add docs for requestclient
  packages/request/src/RequestClient.ts
Labels: none

feat: autocomplete
  apps/rocko/src/commands/testing/options.ts
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/classes/Command.ts
  packages/carbon/src/index.ts
  packages/carbon/src/internals/AutocompleteInteraction.ts
  packages/carbon/src/internals/CommandHandler.ts
  packages/carbon/src/internals/CommandInteraction.ts
  packages/carbon/src/internals/OptionsHandler.ts
Labels: p:carbon

feat: context menu commands
  apps/rocko/src/commands/testing/message_command.ts
  apps/rocko/src/commands/testing/user_command.ts
  packages/carbon/src/abstracts/BaseCommand.ts
  packages/carbon/src/classes/Command.ts
  packages/carbon/src/internals/CommandInteraction.ts
Labels: p:carbon

feat: bun support
  packages/carbon/src/classes/Client.ts
Labels: p:carbon

docs!
  .vscode/settings.json
  packages/carbon/src/classes/Client.ts
  website/app/[...slug]/page.tsx
  website/app/[...slug]/toggle.tsx
  website/app/layout.tsx
  website/content/carbon/developer-portal/create-a-bot.mdx
  website/content/carbon/developer-portal/meta.json
  website/content/carbon/developer-portal/urls.mdx
  website/content/carbon/getting-started/cloudflare-workers.mdx
  website/content/carbon/getting-started/meta.json
  website/content/carbon/getting-started/nodejs.mdx
  website/content/carbon/index.mdx
  website/content/carbon/meta.json
  website/content/linked-roles/index.mdx
  website/content/nodejs/index.mdx
  website/content/request/index.mdx
  website/copy-api.sh
  website/mdx-components.tsx
  website/next.config.mjs
  website/type-aliases.meta.json
Labels: p:carbon

docs: fix bad lang
  website/content/carbon/getting-started/nodejs.mdx
Labels: none

prep release
  .changeset/README.md
  .changeset/config.json
  .changeset/hungry-buckets-ring.md
  apps/cloudo/package.json
  apps/rocko/package.json
  package.json
  pnpm-lock.yaml
Labels: dependencies

v0.1.0 release!
  .changeset/hungry-buckets-ring.md
  apps/cloudo/package.json
  apps/rocko/package.json
  packages/carbon/CHANGELOG.md
  packages/carbon/package.json
  packages/linked-roles/CHANGELOG.md
  packages/linked-roles/package.json
  packages/nodejs/CHANGELOG.md
  packages/nodejs/package.json
  packages/request/CHANGELOG.md
  packages/request/package.json
Labels: p:carbon, p:nodejs

feat: guild member structure and references
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/structures/Guild.ts
  packages/carbon/src/structures/GuildMember.ts
Labels: p:carbon

add changeset
  .changeset/neat-ads-melt.md
Labels: none

chore: formatting
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/classes/Command.ts
  packages/carbon/src/internals/AutocompleteInteraction.ts
  packages/carbon/src/internals/CommandHandler.ts
  packages/carbon/src/structures/Guild.ts
  packages/carbon/src/structures/GuildMember.ts
  website/app/[...slug]/page.tsx
Labels: p:carbon

feat: guild member structure and references (#52)
  .changeset/neat-ads-melt.md
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/classes/Command.ts
  packages/carbon/src/internals/AutocompleteInteraction.ts
  packages/carbon/src/internals/CommandHandler.ts
  packages/carbon/src/structures/Guild.ts
  packages/carbon/src/structures/GuildMember.ts
  website/app/[...slug]/page.tsx
Labels: p:carbon

docs fix
  website/content/carbon/getting-started/nodejs.mdx
Labels: none
