Repository buape/carbon, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, package: carbon, package: create-carbon, plugin: gateway, package: linked-roles

.github/labeler.yml:

"dependencies":
    - changed-files:
        - any-glob-to-any-file: ["pnpm-lock.yaml"]
"package: carbon":
    - changed-files:
        - any-glob-to-any-file: ["packages/carbon/**"]
"package: create-carbon":
    - changed-files:
        - any-glob-to-any-file: ["packages/create-carbon/**"]
"plugin: gateway":
    - changed-files:
        - any-glob-to-any-file: [
            "packages/carbon/src/plugins/gateway-forwarder",
            "packages/carbon/src/plugins/gateway",
            "packages/carbon/src/plugins/sharding"
        ]
"package: linked-roles":
    - changed-files:
        - any-glob-to-any-file: ["packages/carbon/src/plugins/linked-roles"]

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-337.md
Labels: none

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-336.md
Labels: none

feat: add support for typing in DMs and group DMs
  packages/carbon/src/structures/DmChannel.ts
  packages/carbon/src/structures/GroupDmChannel.ts
Labels: package: carbon

fix: handle per-route ratelimiting better
  packages/carbon/src/classes/RequestClient.ts
  packages/carbon/tests/classes/requestClient.test.ts
Labels: package: carbon

fix: adjust heartbeat timing
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
  packages/carbon/src/plugins/gateway/utils/heartbeat.ts
Labels: package: carbon

feat: more heartbeat and event tuning for cpu usage
  packages/carbon/src/internals/EventQueue.ts
  website/content/classes/client.mdx
Labels: package: carbon

fix: more heartbeat and ws fixes
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
Labels: package: carbon

missing changesets apparently lol
  .changeset/pretty-rice-enter.md
  .changeset/purple-candles-judge.md
  .changeset/some-fans-read.md
  .changeset/strict-walls-kiss.md
Labels: none

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-337.md
Labels: none

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-336.md
Labels: none

fix: more stability fixes
  packages/carbon/src/classes/RequestClient.ts
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
Labels: package: carbon

feat: checkbox and radio components
  .changeset/forty-seas-cry.md
  apps/cloudo/src/commands/testing/modal4.ts
  apps/cloudo/src/index.ts
  apps/rocko/src/commands/testing/modal4.ts
  apps/rocko/src/index.ts
  packages/carbon/src/abstracts/BaseComponent.ts
  packages/carbon/src/abstracts/BaseModalComponent.ts
  packages/carbon/src/classes/components/Checkbox.ts
  packages/carbon/src/classes/components/CheckboxGroup.ts
  packages/carbon/src/classes/components/Label.ts
  packages/carbon/src/classes/components/RadioGroup.ts
  packages/carbon/src/types/index.ts
Labels: package: carbon

fix build
  packages/carbon/src/classes/components/FileUpload.ts
  packages/carbon/src/index.ts
Labels: package: carbon

fix build issues
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/abstracts/BaseModalComponent.ts
  packages/carbon/src/classes/Modal.ts
  packages/carbon/src/classes/components/Checkbox.ts
  packages/carbon/src/classes/components/CheckboxGroup.ts
  packages/carbon/src/classes/components/Label.ts
  packages/carbon/src/classes/components/RadioGroup.ts
  packages/carbon/src/types/index.ts
Labels: package: carbon

feat: checkbox and radio components (#339)
  .changeset/forty-seas-cry.md
  apps/cloudo/src/commands/testing/modal4.ts
  apps/cloudo/src/index.ts
  apps/rocko/src/commands/testing/modal4.ts
  apps/rocko/src/index.ts
  packages/carbon/src/abstracts/BaseComponent.ts
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/abstracts/BaseModalComponent.ts
  packages/carbon/src/classes/Modal.ts
  packages/carbon/src/classes/components/Checkbox.ts
  packages/carbon/src/classes/components/CheckboxGroup.ts
  packages/carbon/src/classes/components/FileUpload.ts
  packages/carbon/src/classes/components/Label.ts
  packages/carbon/src/classes/components/RadioGroup.ts
  packages/carbon/src/index.ts
  packages/carbon/src/types/index.ts
Labels: package: carbon

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-337.md
Labels: none

chore: update deps
  .changeset/dependencies-GH-318.md
  apps/cloudo/package.json
  apps/pointo/package.json
  apps/rocko/package.json
  apps/socketo/package.json
  package.json
  packages/carbon/package.json
  packages/create-carbon/package.json
  pnpm-lock.yaml
  website/package.json
Labels: dependencies, package: carbon, package: create-carbon

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-336.md
Labels: none

chore: release 0.14.0
  .changeset/bitter-doodles-drum.md
  .changeset/calm-pigs-hunt.md
  .changeset/chubby-clowns-kneel.md
  .changeset/cold-candles-sin.md
  .changeset/dependencies-GH-318.md
  .changeset/eight-taxis-begin.md
  .changeset/eighty-cups-guess.md
  .changeset/fine-news-guess.md
  .changeset/forty-seas-cry.md
  .changeset/fuzzy-lizards-grow.md
  .changeset/mighty-boats-jog.md
  .changeset/old-pumas-greet.md
  .changeset/plain-actors-kneel.md
  .changeset/pretty-rice-enter.md
  .changeset/pretty-streets-warn.md
  .changeset/purple-candles-judge.md
  .changeset/six-nights-attend.md
  .changeset/slimy-taxes-shout.md
  .changeset/some-fans-read.md
  .changeset/strict-walls-kiss.md
  .changeset/sweet-carpets-strive.md
  .changeset/upset-lilies-show.md
  .changeset/violet-experts-fix.md
  packages/carbon/CHANGELOG.md
  packages/carbon/package.json
  packages/create-carbon/CHANGELOG.md
  packages/create-carbon/package.json
Labels: package: carbon, package: create-carbon

feat: add registerListener method to Client
  .changeset/dirty-spies-behave.md
  apps/rocko/src/commands/testing/ask.ts
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/internals/TemporaryListenerManager.ts
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
  packages/carbon/src/plugins/voice/VoicePlugin.ts
  packages/carbon/src/plugins/voice/VoiceServerUpdateListener.ts
  packages/carbon/src/plugins/voice/VoiceStateUpdateListener.ts
  packages/carbon/tests/plugins/voice.test.ts
Labels: package: carbon

fix(gateway): reset reconnect backoff on READY/RESUMED instead of ws open
  .changeset/fix-gateway-reconnect-backoff.md
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
Labels: package: carbon

change changesets
  .changeset/cozy-swans-sell.md
  .changeset/dirty-spies-behave.md
Labels: none

feat: add voice event forwarding and add registerListener method (#342)
  .changeset/cozy-swans-sell.md
  .changeset/dirty-spies-behave.md
  apps/rocko/src/commands/testing/ask.ts
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/internals/TemporaryListenerManager.ts
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
  packages/carbon/src/plugins/voice/VoicePlugin.ts
  packages/carbon/src/plugins/voice/VoiceServerUpdateListener.ts
  packages/carbon/src/plugins/voice/VoiceStateUpdateListener.ts
  packages/carbon/tests/plugins/voice.test.ts
Labels: package: carbon

fix: reset gateway reconnect backoff
  .changeset/fix-gateway-reconnect-backoff.md
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
Labels: package: carbon

fix(gateway): reset reconnect backoff on READY/RESUMED instead of ws open (#345)
  .changeset/fix-gateway-reconnect-backoff.md
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
Labels: package: carbon

docs: add proxy support design document
  docs/plans/2025-02-01-proxy-support-design.md
Labels: none

chore: add .worktrees/ to gitignore
  .gitignore
Labels: none

feat: add HTTP proxy support for Discord requests
  packages/carbon/package.json
  packages/carbon/src/classes/RequestClient.ts
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
  packages/carbon/src/plugins/gateway/types.ts
  packages/carbon/src/utils/index.ts
  packages/carbon/src/utils/proxy.ts
  packages/carbon/tests/utils/proxy.test.ts
  pnpm-lock.yaml
  website/content/getting-started/basic-setup.mdx
Labels: dependencies, package: carbon

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-346.md
Labels: none

fix(gateway): safely ignore zombie connection heartbeats instead of throwing
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
Labels: package: carbon

feat(gateway): add WebSocket agent/proxy support
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
  packages/carbon/src/plugins/gateway/types.ts
Labels: package: carbon

chore: add changeset for reconnect crash fix
  .changeset/soft-apes-glow.md
Labels: none

fix(gateway): safely ignore zombie connection heartbeats (#351)
  .changeset/soft-apes-glow.md
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
Labels: package: carbon

fix(gateway): reset heartbeat ack state on reconnect
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
  packages/carbon/src/plugins/gateway/utils/heartbeat.ts
  packages/carbon/tests/plugins/gateway-heartbeat.test.ts
Labels: package: carbon

fix: change component registration to allow multiple handlers sharing a custom ID across component types
  .changeset/bright-moles-sit.md
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/internals/ComponentHandler.ts
  packages/carbon/tests/internals/componentHandler.test.ts
Labels: package: carbon

chore: enable trusted publishing
  .github/actions/setup/action.yml
  .github/workflows/release.yml
Labels: none

chore: add changeset for gateway heartbeat fix
  .changeset/bright-insects-smile.md
Labels: none

fix(gateway): reset heartbeat ack state on reconnect (#353)
  .changeset/bright-insects-smile.md
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
  packages/carbon/src/plugins/gateway/utils/heartbeat.ts
  packages/carbon/tests/plugins/gateway-heartbeat.test.ts
Labels: package: carbon

fix: skip gateway-only event templates unless the gateway plugin is selected.
  .changeset/few-apes-approve.md
  packages/create-carbon/template/_gateway/messageCreate.hbs
  packages/create-carbon/template/_gateway/ready.hbs
Labels: package: create-carbon

fix: refresh the Cloudflare worker template with native entrypoints and wrangler type generation.
  .changeset/fast-geese-laugh.md
  packages/create-carbon/src/tools/npmHelpers.ts
  packages/create-carbon/template/README.md.hbs
  packages/create-carbon/template/_cloudflare/entry.ts.hbs
  packages/create-carbon/template/_cloudflare/wrangler.jsonc.hbs
  packages/create-carbon/template/index.ts.hbs
  packages/create-carbon/template/package.json.hbs
  packages/create-carbon/template/tsconfig.json.hbs
Labels: package: create-carbon
