Repository buape/carbon, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, package: carbon, package: create-carbon, plugin: gateway, package: linked-roles

.github/labeler.yml:

"dependencies":
    - changed-files:
        - any-glob-to-any-file: ["pnpm-lock.yaml"]
"package: carbon":
    - changed-files:
        - any-glob-to-any-file: ["packages/carbon/**"]
"package: create-carbon":
    - changed-files:
        - any-glob-to-any-file: ["packages/create-carbon/**"]
"plugin: gateway":
    - changed-files:
        - any-glob-to-any-file: [
            "packages/carbon/src/plugins/gateway-forwarder",
            "packages/carbon/src/plugins/gateway",
            "packages/carbon/src/plugins/sharding"
        ]
"package: linked-roles":
    - changed-files:
        - any-glob-to-any-file: ["packages/carbon/src/plugins/linked-roles"]

add type params to ComponentData
  packages/carbon/src/types/index.ts
Labels: package: carbon

feat: OptionsHandler#getAttachment
  .changeset/olive-pillows-hope.md
  packages/carbon/src/internals/OptionsHandler.ts
Labels: package: carbon

make paginator properties readonly instead of private
  packages/carbon/src/plugins/paginator/Paginator.ts
Labels: package: carbon

feat: OptionsHandler#getAttachment
  apps/cloudo/src/commands/testing/options.ts
  apps/rocko/src/commands/testing/options.ts
  packages/carbon/src/internals/CommandInteraction.ts
  packages/carbon/src/internals/OptionsHandler.ts
  packages/carbon/src/types/index.ts
Labels: package: carbon

add a user id param to the paginator
  packages/carbon/src/plugins/paginator/Paginator.ts
Labels: package: carbon

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-232.md
Labels: none

feat: one off components (e.g. confirmation prompts)
  .changeset/silver-snakes-refuse.md
  .changeset/slick-brooms-attack.md
  .changeset/swift-emus-stop.md
  apps/cloudo/tsconfig.json
  apps/rocko/src/commands/testing/confirm.ts
  apps/rocko/src/index.ts
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/abstracts/BaseMessageInteractiveComponent.ts
  packages/carbon/src/classes/RequestClient.ts
  packages/carbon/src/classes/components/Button.ts
  packages/carbon/src/internals/AutocompleteInteraction.ts
  packages/carbon/src/internals/ComponentHandler.ts
  packages/carbon/src/structures/Message.ts
Labels: package: carbon

fix requested changes
  apps/cloudo/tsconfig.json
  apps/rocko/src/commands/testing/confirm.ts
  packages/carbon/src/abstracts/AnySelectMenu.ts
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/abstracts/BaseMessageInteractiveComponent.ts
  packages/carbon/src/classes/Command.ts
  packages/carbon/src/classes/Modal.ts
  packages/carbon/src/classes/RequestClient.ts
  packages/carbon/src/classes/components/Button.ts
  packages/carbon/src/classes/components/ChannelSelectMenu.ts
  packages/carbon/src/classes/components/MentionableSelectMenu.ts
  packages/carbon/src/classes/components/RoleSelectMenu.ts
  packages/carbon/src/classes/components/StringSelectMenu.ts
  packages/carbon/src/classes/components/UserSelectMenu.ts
  packages/carbon/src/internals/ComponentHandler.ts
  packages/carbon/src/structures/Message.ts
Labels: package: carbon

group dep prs
  .github/renovate.json
Labels: none

feat: one off components (e.g. confirmation prompts) (#248)
  .changeset/silver-snakes-refuse.md
  .changeset/slick-brooms-attack.md
  .changeset/swift-emus-stop.md
  apps/rocko/src/commands/testing/confirm.ts
  apps/rocko/src/index.ts
  packages/carbon/src/abstracts/AnySelectMenu.ts
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/abstracts/BaseMessageInteractiveComponent.ts
  packages/carbon/src/classes/Command.ts
  packages/carbon/src/classes/Modal.ts
  packages/carbon/src/classes/RequestClient.ts
  packages/carbon/src/classes/components/Button.ts
  packages/carbon/src/classes/components/ChannelSelectMenu.ts
  packages/carbon/src/classes/components/MentionableSelectMenu.ts
  packages/carbon/src/classes/components/RoleSelectMenu.ts
  packages/carbon/src/classes/components/StringSelectMenu.ts
  packages/carbon/src/classes/components/UserSelectMenu.ts
  packages/carbon/src/internals/AutocompleteInteraction.ts
  packages/carbon/src/internals/ComponentHandler.ts
  packages/carbon/src/structures/Message.ts
Labels: package: carbon

use minutes in the crons
  .github/renovate.json
Labels: none

feat: add new and improved global registering of components Closes #244
  .changeset/pretty-crews-fix.md
  packages/carbon/src/abstracts/BaseCommand.ts
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/internals/CommandHandler.ts
  packages/carbon/src/types/index.ts
  website/content/classes/components/index.mdx
Labels: package: carbon

feat: add an error and docs page for missing components
  .changeset/slimy-regions-kick.md
  packages/carbon/src/internals/ComponentHandler.ts
  website/content/concepts/component-registration.mdx
  website/content/concepts/meta.json
Labels: package: carbon

feat: add more validation for incoming options
  .changeset/spicy-dingos-post.md
  packages/carbon/src/internals/AutocompleteInteraction.ts
  packages/carbon/src/internals/CommandHandler.ts
  packages/carbon/src/internals/CommandInteraction.ts
  packages/carbon/src/internals/OptionsHandler.ts
Labels: package: carbon

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-230.md
Labels: none

chore: update dependencies
  .changeset/ripe-jars-cover.md
  apps/cloudo/package.json
  apps/pointo/package.json
  apps/rocko/package.json
  apps/socketo/package.json
  package.json
  packages/carbon/package.json
  packages/create-carbon/package.json
  pnpm-lock.yaml
  website/package.json
Labels: dependencies, package: carbon, package: create-carbon

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-243.md
Labels: none

chore: disable coderabbit on pending releases pr
  .coderabbit.yaml
Labels: none

feat: Poll support Closes #235
  .changeset/crazy-geckos-return.md
  apps/rocko/src/commands/testing/poll.ts
  apps/rocko/src/index.ts
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/structures/Message.ts
  packages/carbon/src/structures/Poll.ts
  packages/carbon/src/types/index.ts
  packages/carbon/src/utils/payload.ts
  website/content/classes/poll.mdx
Labels: package: carbon

adjust section icon
  website/content/classes/components/section.mdx
Labels: none

make waitForComponent also have select menu values
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/internals/ComponentHandler.ts
Labels: package: carbon

make runs optional for select menus
  packages/carbon/src/abstracts/AnySelectMenu.ts
  packages/carbon/src/classes/components/ChannelSelectMenu.ts
  packages/carbon/src/classes/components/MentionableSelectMenu.ts
  packages/carbon/src/classes/components/RoleSelectMenu.ts
  packages/carbon/src/classes/components/StringSelectMenu.ts
  packages/carbon/src/classes/components/UserSelectMenu.ts
Labels: package: carbon

feat: Fetch all channels in a guild
  .changeset/plain-cities-cheat.md
  packages/carbon/src/structures/Guild.ts
Labels: package: carbon

ask example command
  apps/rocko/src/commands/testing/ask.ts
  apps/rocko/src/index.ts
Labels: none

add reasons for role actions
  packages/carbon/src/classes/RequestClient.ts
  packages/carbon/src/structures/Role.ts
Labels: package: carbon

feat: add fetchRole and fetchRoles methods on a guild
  .changeset/shaky-ghosts-relax.md
  packages/carbon/src/structures/Guild.ts
Labels: package: carbon

add reasons to guildmember
  packages/carbon/src/structures/GuildMember.ts
Labels: package: carbon

feat: voice state for GuildMember
  .changeset/khaki-hands-raise.md
  packages/carbon/src/structures/GuildMember.ts
  packages/carbon/src/types/index.ts
Labels: package: carbon

make plugin ids readonly instead of protected
  packages/carbon/src/abstracts/Plugin.ts
Labels: package: carbon

feat: full command data route
  .changeset/nine-memes-bet.md
  packages/carbon/src/plugins/command-data/CommandDataPlugin.ts
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
Labels: package: carbon

fix type issue
  packages/carbon/src/plugins/gateway-forwarder/GatewayForwarderPlugin.ts
Labels: package: carbon

initial caching setup
  packages/carbon/src/classes/ClientWithCaching.ts
  packages/carbon/src/index.ts
  packages/carbon/src/internals/Cache.ts
  website/content/classes/client.mdx
Labels: package: carbon

add cache handling to other classes
  packages/carbon/src/abstracts/BaseChannel.ts
  packages/carbon/src/classes/ClientWithCaching.ts
  packages/carbon/src/internals/Cache.ts
  packages/carbon/src/structures/Guild.ts
  packages/carbon/src/structures/GuildMember.ts
  packages/carbon/src/structures/Message.ts
  packages/carbon/src/structures/Role.ts
  packages/carbon/src/structures/User.ts
Labels: package: carbon

add a cache cleanup
  packages/carbon/src/internals/Cache.ts
  packages/carbon/src/structures/Guild.ts
Labels: package: carbon

changeset
  .changeset/rich-weeks-crash.md
Labels: none

remove the enabled property
  packages/carbon/src/internals/Cache.ts
  website/content/classes/client.mdx
Labels: package: carbon

cache voice state
  packages/carbon/src/internals/Cache.ts
  packages/carbon/src/structures/GuildMember.ts
Labels: package: carbon

cache permissions
  packages/carbon/src/internals/Cache.ts
  packages/carbon/src/structures/GuildMember.ts
Labels: package: carbon

add more caching of things
  packages/carbon/src/structures/Guild.ts
  packages/carbon/src/structures/Message.ts
Labels: package: carbon

requested changes
  packages/carbon/src/classes/ClientWithCaching.ts
  packages/carbon/src/internals/Cache.ts
  packages/carbon/src/structures/Guild.ts
  packages/carbon/src/structures/GuildMember.ts
  packages/carbon/src/structures/Message.ts
  packages/carbon/src/structures/Role.ts
  website/content/classes/client.mdx
Labels: package: carbon
