Repository buape/carbon, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, package: carbon, package: create-carbon, plugin: gateway, package: linked-roles

.github/labeler.yml:

"dependencies":
    - changed-files:
        - any-glob-to-any-file: ["pnpm-lock.yaml"]
"package: carbon":
    - changed-files:
        - any-glob-to-any-file: ["packages/carbon/**"]
"package: create-carbon":
    - changed-files:
        - any-glob-to-any-file: ["packages/create-carbon/**"]
"plugin: gateway":
    - changed-files:
        - any-glob-to-any-file: [
            "packages/carbon/src/plugins/gateway-forwarder",
            "packages/carbon/src/plugins/gateway",
            "packages/carbon/src/plugins/sharding"
        ]
"package: linked-roles":
    - changed-files:
        - any-glob-to-any-file: ["packages/carbon/src/plugins/linked-roles"]

add workflow
  .github/workflows/deploy-web.yml
Labels: none

fix: dont use bun here
  website/package.json
Labels: none

add nextjs cache
  .github/workflows/deploy-web.yml
Labels: none

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-268.md
Labels: none

feat: make Client#validateDiscordRequest protected so it can be overridden
  .changeset/common-deer-jump.md
  packages/carbon/src/classes/Client.ts
Labels: package: carbon

feat: add a isConnected to the gateway plugin
  .changeset/yummy-beans-kiss.md
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
Labels: package: carbon

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-268.md
Labels: none

fix: missing "and" helper for plugins
  .changeset/few-ads-think.md
  packages/create-carbon/src/tools/templateProcessor.ts
Labels: package: create-carbon

fix og logos on website
  website/app/og/[...slug]/route.tsx
  website/public/Rubik-Bold.ttf
  website/public/Rubik-Regular.ttf
Labels: none

adjust fonts again
  website/app/og/[...slug]/route.tsx
  website/public/Rubik-Bold.ttf
  website/public/Rubik-Regular.ttf
Labels: none

feat: add a createPost function for forum channels
  .changeset/seven-laws-begin.md
  packages/carbon/src/abstracts/GuildThreadOnlyChannel.ts
Labels: package: carbon

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-268.md
Labels: none

feat: add a createPost function for forum channels
  .changeset/seven-laws-begin.md
  packages/carbon/src/abstracts/GuildThreadOnlyChannel.ts
Labels: package: carbon

feat: add ping tracking to the gateway plugin
  .changeset/large-pots-sip.md
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
Labels: package: carbon

implement the same on sharded
  packages/carbon/src/plugins/gateway-forwarder/ShardedGatewayForwarderPlugin.ts
  packages/carbon/src/plugins/sharding/ShardingPlugin.ts
Labels: package: carbon

fix a bug causing ping to not be tracked
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
Labels: package: carbon

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-274.md
Labels: none

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-275.md
Labels: none

Add returns for important methods on Message
  packages/carbon/src/structures/Message.ts
Labels: package: carbon

fix types so typecheck succeeds
  packages/carbon/src/structures/Message.ts
Labels: package: carbon

fix: make edit method update the message object as well as return the message with it's edited data
  .changeset/pink-dryers-throw.md
  packages/carbon/src/structures/Message.ts
Labels: package: carbon

Update pink-dryers-throw.md
  .changeset/pink-dryers-throw.md
Labels: none

Add returns for important methods on Message (#276)
  .changeset/pink-dryers-throw.md
  packages/carbon/src/structures/Message.ts
Labels: package: carbon

feat: Add support for sending gateway events
  .changeset/good-glasses-reply.md
  .claude/agents/carbon-docs-writer.md
  CLAUDE.md
  apps/socketo/src/commands/gateway-test.ts
  apps/socketo/src/commands/ping.ts
  apps/socketo/src/index.ts
  package.json
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
  packages/carbon/src/plugins/gateway/types.ts
  packages/carbon/src/plugins/gateway/utils/payload.ts
  packages/carbon/src/plugins/gateway/utils/rateLimit.ts
  packages/carbon/src/plugins/sharding/ShardingPlugin.ts
  website/content/plugins/gateway-events.mdx
  website/content/plugins/meta.json
Labels: package: carbon

feat: add routes page Closes #270
  website/components/mdx-components.tsx
  website/components/route-card.tsx
  website/content/concepts/meta.json
  website/content/concepts/routes.mdx
Labels: none

feat: add a Go To Page button for the Paginator Closes #267
  .changeset/swift-women-allow.md
  apps/rocko/src/commands/testing/paginator.ts
  packages/carbon/src/index.ts
  packages/carbon/src/plugins/paginator/GoToPageModal.ts
  packages/carbon/src/plugins/paginator/Paginator.ts
  packages/carbon/src/plugins/paginator/index.ts
Labels: package: carbon

Fix theming for discord invite Closes #272
  website/content/getting-started/introduction.mdx
Labels: none

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-274.md
Labels: none

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-275.md
Labels: none

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-268.md
Labels: none

fix: resolve TypeScript build errors in Web Crypto API usage
  .changeset/shaky-ants-reply.md
  packages/carbon/src/classes/Client.ts
Labels: package: carbon

ci: fix web ci
  package.json
Labels: none

ci: don't run snapshot on main release
  .github/workflows/snapshot.yml
Labels: none

chore: update changelog and release (#266)
  .changeset/cold-coats-behave.md
  .changeset/cold-windows-rule.md
  .changeset/common-deer-jump.md
  .changeset/dependencies-GH-268.md
  .changeset/dependencies-GH-269.md
  .changeset/dependencies-GH-274.md
  .changeset/dependencies-GH-275.md
  .changeset/few-ads-think.md
  .changeset/good-glasses-reply.md
  .changeset/large-pots-sip.md
  .changeset/pink-dryers-throw.md
  .changeset/seven-laws-begin.md
  .changeset/shaky-ants-reply.md
  .changeset/swift-women-allow.md
  .changeset/yummy-beans-kiss.md
  packages/carbon/CHANGELOG.md
  packages/carbon/package.json
  packages/create-carbon/CHANGELOG.md
  packages/create-carbon/package.json
Labels: package: carbon, package: create-carbon

feat: updated to new Label components in modals
  .changeset/cold-monkey-swim.md
  apps/cloudo/src/commands/testing/modal.ts
  apps/rocko/src/commands/testing/modal.ts
  examples/modal-migration.md
  package.json
  packages/carbon/src/abstracts/AnySelectMenu.ts
  packages/carbon/src/abstracts/BaseComponent.ts
  packages/carbon/src/abstracts/BaseModalComponent.ts
  packages/carbon/src/classes/Modal.ts
  packages/carbon/src/classes/components/Label.ts
  packages/carbon/src/classes/components/ModalStringSelectMenu.ts
  packages/carbon/src/classes/components/TextInput.ts
  packages/carbon/src/index.ts
  packages/carbon/src/plugins/paginator/GoToPageModal.ts
  pnpm-lock.yaml
  website/content/even-more/migration-guide.mdx
Labels: dependencies, package: carbon

feat: updated to new Label components in modals
  .changeset/cold-monkey-swim.md
  apps/cloudo/src/commands/testing/modal.ts
  apps/rocko/src/commands/testing/modal.ts
  examples/modal-migration.md
  package.json
  packages/carbon/src/abstracts/AnySelectMenu.ts
  packages/carbon/src/abstracts/BaseComponent.ts
  packages/carbon/src/abstracts/BaseModalComponent.ts
  packages/carbon/src/classes/Modal.ts
  packages/carbon/src/classes/components/Label.ts
  packages/carbon/src/classes/components/ModalStringSelectMenu.ts
  packages/carbon/src/classes/components/TextInput.ts
  packages/carbon/src/index.ts
  packages/carbon/src/internals/FieldsHandler.ts
  packages/carbon/src/plugins/paginator/GoToPageModal.ts
  pnpm-lock.yaml
  website/content/even-more/migration-guide.mdx
Labels: dependencies, package: carbon

add fieldshandler note to migration guide
  website/content/even-more/migration-guide.mdx
Labels: none

Added Bookmarker to "Powered by Carbon" Section
  website/content/even-more/powered-by-carbon.mdx
Labels: none

Added Bookmarker to "Powered by Carbon" Section (#284)
  website/content/even-more/powered-by-carbon.mdx
Labels: none

final fixes
  .changeset/ninety-women-judge.md
  .changeset/strong-points-pull.md
  apps/cloudo/src/commands/testing/modal.ts
  apps/rocko/src/commands/testing/modal.ts
  examples/modal-migration.md
  packages/carbon/package.json
  packages/carbon/src/abstracts/AnySelectMenu.ts
  packages/carbon/src/abstracts/BaseGuildChannel.ts
  packages/carbon/src/abstracts/BaseModalComponent.ts
  packages/carbon/src/abstracts/GuildThreadOnlyChannel.ts
  packages/carbon/src/classes/Listener.ts
  packages/carbon/src/classes/Modal.ts
  packages/carbon/src/classes/components/Container.ts
  packages/carbon/src/classes/components/Label.ts
  packages/carbon/src/classes/components/ModalStringSelectMenu.ts
  packages/carbon/src/classes/components/Row.ts
  packages/carbon/src/classes/components/TextInput.ts
  packages/carbon/src/index.ts
  packages/carbon/src/internals/FieldsHandler.ts
  packages/carbon/src/plugins/paginator/Paginator.ts
  packages/carbon/src/structures/GuildAnnouncementChannel.ts
  packages/carbon/src/structures/GuildCategoryChannel.ts
  packages/carbon/src/structures/GuildMember.ts
  packages/carbon/src/structures/GuildStageOrVoiceChannel.ts
  packages/carbon/src/structures/GuildTextChannel.ts
  packages/carbon/src/types/listeners.ts
  pnpm-lock.yaml
  website/content/classes/components/label.mdx
  website/content/classes/modals.mdx
  website/content/even-more/migration-guide.mdx
Labels: dependencies, package: carbon
