Repository buape/carbon, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, package: carbon, package: create-carbon, plugin: gateway, package: linked-roles

adjust generation of llms.txt
  website/app/(llms)/get.ts
Labels: none

feat: prechecks
  .changeset/late-shoes-design.md
  .vscode/settings.json
  apps/rocko/src/commands/testing/precheck.ts
  apps/rocko/src/index.ts
  packages/carbon/src/classes/Command.ts
  packages/carbon/src/internals/CommandHandler.ts
  website/content/concepts/prechecks.mdx
Labels: package: carbon

feat: add a way to fetch a guildmember's permissions
  .changeset/two-dots-smell.md
  packages/carbon/src/index.ts
  packages/carbon/src/permissions.ts
  packages/carbon/src/structures/GuildMember.ts
  packages/carbon/src/structures/Role.ts
Labels: package: carbon

fix: don't assume that channels and members always exist
  .changeset/olive-carrots-travel.md
  packages/carbon/src/structures/Guild.ts
Labels: package: carbon

chore: formatting
  apps/rocko/src/index.ts
  packages/carbon/src/structures/Guild.ts
  packages/carbon/src/structures/GuildMember.ts
Labels: package: carbon

Better component handling - mount components when used, allowing for custom constructor setups (fixes #213) - add a better custom ID parsing system (implements #194)
  .changeset/polite-taxis-give.md
  .changeset/salty-worms-kick.md
  apps/rocko/src/commands/testing/button.ts
  packages/carbon/src/abstracts/AnySelectMenu.ts
  packages/carbon/src/abstracts/BaseCommand.ts
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/abstracts/BaseMessageInteractiveComponent.ts
  packages/carbon/src/abstracts/BaseModalComponent.ts
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/classes/Modal.ts
  packages/carbon/src/classes/components/Button.ts
  packages/carbon/src/classes/components/ChannelSelectMenu.ts
  packages/carbon/src/classes/components/MentionableSelectMenu.ts
  packages/carbon/src/classes/components/RoleSelectMenu.ts
  packages/carbon/src/classes/components/StringSelectMenu.ts
  packages/carbon/src/classes/components/UserSelectMenu.ts
  packages/carbon/src/index.ts
  packages/carbon/src/internals/ComponentHandler.ts
  packages/carbon/src/internals/ModalHandler.ts
  packages/carbon/src/types/index.ts
  website/content/classes/components/index.mdx
  website/content/classes/modals.mdx
Labels: package: carbon

chore: formatting
  packages/carbon/src/abstracts/AnySelectMenu.ts
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/abstracts/BaseMessageInteractiveComponent.ts
  packages/carbon/src/abstracts/BaseModalComponent.ts
  packages/carbon/src/classes/Modal.ts
Labels: package: carbon

fix bug noticed by coderabbit
  packages/carbon/src/abstracts/BaseMessageInteractiveComponent.ts
Labels: package: carbon

update test apps
  apps/cloudo/src/commands/testing/button.ts
  apps/cloudo/src/commands/testing/every_select.ts
  apps/cloudo/src/commands/testing/modal.ts
  apps/rocko/src/commands/testing/every_select.ts
  apps/rocko/src/commands/testing/modal.ts
Labels: none

nitpick changes and move utils
  packages/carbon/src/abstracts/AnySelectMenuInteraction.ts
  packages/carbon/src/abstracts/BaseChannel.ts
  packages/carbon/src/abstracts/BaseComponentInteraction.ts
  packages/carbon/src/abstracts/BaseGuildChannel.ts
  packages/carbon/src/abstracts/BaseGuildTextChannel.ts
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/abstracts/BaseMessageInteractiveComponent.ts
  packages/carbon/src/abstracts/GuildThreadOnlyChannel.ts
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/classes/Modal.ts
  packages/carbon/src/index.ts
  packages/carbon/src/internals/ButtonInteraction.ts
  packages/carbon/src/internals/ModalInteraction.ts
  packages/carbon/src/plugins/gateway-forwarder/GatewayForwarderPlugin.ts
  packages/carbon/src/structures/DmChannel.ts
  packages/carbon/src/structures/GroupDmChannel.ts
  packages/carbon/src/structures/Guild.ts
  packages/carbon/src/structures/GuildForumChannel.ts
  packages/carbon/src/structures/GuildMember.ts
  packages/carbon/src/structures/GuildStageOrVoiceChannel.ts
  packages/carbon/src/structures/GuildTextChannel.ts
  packages/carbon/src/structures/GuildThreadChannel.ts
  packages/carbon/src/structures/Message.ts
  packages/carbon/src/structures/Role.ts
  packages/carbon/src/structures/User.ts
  packages/carbon/src/types/index.ts
  packages/carbon/src/utils.ts
  packages/carbon/src/utils/customIdParser.ts
  packages/carbon/src/utils/index.ts
  packages/carbon/src/utils/payload.ts
  packages/carbon/src/utils/verification.ts
  website/content/classes/modals.mdx
Labels: package: carbon

chore: formatting
  lefthook.yml
  package.json
  packages/carbon/src/abstracts/BaseMessageInteractiveComponent.ts
  packages/carbon/src/classes/Modal.ts
  pnpm-lock.yaml
Labels: dependencies, package: carbon

stupid lockfile
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: dependencies

feat: add preferred locale to guild
  packages/carbon/src/structures/Guild.ts
Labels: package: carbon

forgot changeset
  .changeset/bitter-seas-dress.md
Labels: none

feat: add sharding to the forwarder plugin
  .changeset/sad-buckets-swim.md
  packages/carbon/src/plugins/gateway-forwarder/ShardedGatewayForwarderPlugin.ts
  packages/carbon/src/plugins/gateway-forwarder/index.ts
  packages/carbon/src/plugins/sharding/ShardingPlugin.ts
Labels: package: carbon

attempted typing fix for sharded forwarder
  packages/carbon/src/plugins/gateway-forwarder/ShardedGatewayForwarderPlugin.ts
Labels: package: carbon

fix: ignore event filter on gateway plugins if not set
  .changeset/bright-horses-shave.md
  packages/carbon/src/plugins/gateway-forwarder/GatewayForwarderPlugin.ts
Labels: package: carbon

feat: name and description localizations
  .changeset/nine-rice-stick.md
  packages/carbon/src/abstracts/BaseCommand.ts
Labels: package: carbon

feat: fixed sharding on createIdentifyPayload
  packages/carbon/src/plugins/gateway/utils/payload.ts
Labels: package: carbon

Add changeset
  .changeset/spicy-shirts-jam.md
Labels: none

Update spicy-shirts-jam.md
  .changeset/spicy-shirts-jam.md
Labels: none

lint: pnpm lint
  packages/carbon/src/plugins/gateway/utils/payload.ts
Labels: package: carbon

fix: fixed sharding on createIdentifyPayload (#241)
  .changeset/spicy-shirts-jam.md
  packages/carbon/src/plugins/gateway/utils/payload.ts
Labels: package: carbon

fix: fixed interactions from not being registered
  apps/rocko/src/commands/testing/components_v2.ts
  packages/carbon/src/abstracts/BaseInteraction.ts
Labels: package: carbon

chore: linted
  apps/rocko/src/commands/testing/components_v2.ts
Labels: none

fix: fixed components from not being imported from sections and containers
  apps/rocko/src/commands/testing/components_v2.ts
  packages/carbon/src/abstracts/BaseInteraction.ts
Labels: package: carbon

fix: fixed components from not being imported from sections and containers (#246)
  apps/rocko/src/commands/testing/components_v2.ts
  packages/carbon/src/abstracts/BaseInteraction.ts
Labels: package: carbon

feat: command data plugin
  .changeset/spicy-schools-cheat.md
  apps/rocko/src/index.ts
  packages/carbon/src/plugins/command-data/CommandDataPlugin.ts
  packages/carbon/src/plugins/command-data/index.ts
Labels: package: carbon

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-242.md
Labels: none

update container id
  .changeset/polite-cycles-trade.md
  packages/carbon/package.json
  packages/carbon/src/classes/components/Container.ts
Labels: package: carbon

update lockfile
  pnpm-lock.yaml
Labels: dependencies

fix: allow description to be optional for commands
  .changeset/real-beans-press.md
  packages/carbon/src/abstracts/BaseCommand.ts
Labels: package: carbon

fix(temp): add a patch workaround for https://github.com/buape/carbon/issues/247
  .changeset/chatty-cats-decide.md
  packages/carbon/src/functions/errorsMapper.ts
Labels: package: carbon

feat: add a Paginator class (implemented as a plugin)
  .changeset/chubby-wasps-retire.md
  apps/rocko/src/commands/testing/paginator.ts
  apps/rocko/src/index.ts
  packages/carbon/src/plugins/paginator/Paginator.ts
  packages/carbon/src/plugins/paginator/index.ts
  packages/carbon/src/types/index.ts
  packages/carbon/src/utils/customIdParser.ts
Labels: package: carbon

feat: return a Message object when you use Channel#send
  .changeset/yummy-taxis-bow.md
  packages/carbon/src/abstracts/BaseGuildChannel.ts
  packages/carbon/src/abstracts/GuildThreadOnlyChannel.ts
  packages/carbon/src/structures/DmChannel.ts
  packages/carbon/src/structures/GuildCategoryChannel.ts
Labels: package: carbon

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-230.md
Labels: none

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-243.md
Labels: none

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-232.md
Labels: none

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-208.md
Labels: none

feat: Guild#fetchMembers method
  .changeset/better-mails-write.md
  packages/carbon/src/classes/RequestClient.ts
  packages/carbon/src/structures/Guild.ts
Labels: package: carbon

.github/labeler.yml:

"dependencies":
    - changed-files:
        - any-glob-to-any-file: ["pnpm-lock.yaml"]
"package: carbon":
    - changed-files:
        - any-glob-to-any-file: ["packages/carbon/**"]
"package: create-carbon":
    - changed-files:
        - any-glob-to-any-file: ["packages/create-carbon/**"]
"plugin: gateway":
    - changed-files:
        - any-glob-to-any-file: [
            "packages/carbon/src/plugins/gateway-forwarder",
            "packages/carbon/src/plugins/gateway",
            "packages/carbon/src/plugins/sharding"
        ]
"package: linked-roles":
    - changed-files:
        - any-glob-to-any-file: ["packages/carbon/src/plugins/linked-roles"]
