Repository buape/carbon, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, package: carbon, package: create-carbon, plugin: gateway, package: linked-roles

Replace Invidget domain (#418)
  website/pages/beta/getting-started/introduction.mdx
  website/pages/v0.15.0/getting-started/introduction.mdx
  website/pages/v0.16.0/getting-started/introduction.mdx
Labels: none

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-422.md
Labels: none

perf: maintain active scheduler route indexes
  .changeset/active-route-indexes.md
  packages/carbon/src/internals/RequestScheduler.ts
  packages/carbon/tests/internals/requestScheduler.test.ts
Labels: package: carbon

refactor: model gateway lifecycle state
  .changeset/gateway-lifecycle-state.md
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
  packages/carbon/src/plugins/gateway/types.ts
  packages/carbon/tests/plugins/gateway-lifecycle.test.ts
Labels: package: carbon

chore(deps): update pnpm lockfile
  package.json
  packages/carbon/src/internals/CommandHandler.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: dependencies, package: carbon

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-422.md
Labels: none

fix(create-carbon): handle clack cancel symbols
  packages/create-carbon/src/index.ts
Labels: package: create-carbon

.github/labeler.yml:

"dependencies":
    - changed-files:
        - any-glob-to-any-file: ["pnpm-lock.yaml"]
"package: carbon":
    - changed-files:
        - any-glob-to-any-file: ["packages/carbon/**"]
"package: create-carbon":
    - changed-files:
        - any-glob-to-any-file: ["packages/create-carbon/**"]
"plugin: gateway":
    - changed-files:
        - any-glob-to-any-file: [
            "packages/carbon/src/plugins/gateway-forwarder",
            "packages/carbon/src/plugins/gateway",
            "packages/carbon/src/plugins/sharding"
        ]
"package: linked-roles":
    - changed-files:
        - any-glob-to-any-file: ["packages/carbon/src/plugins/linked-roles"]
