Repository buape/carbon, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, p:carbon, p:discord-request, p:nodejs, docs

fully working docs site
  website/content/carbon/classes/index.mdx
  website/content/carbon/even-more/index.mdx
  website/content/carbon/even-more/meta.json
  website/content/carbon/getting-started/index.mdx
  website/content/carbon/helpful-guides/index.mdx
  website/content/carbon/index.mdx
  website/content/carbon/meta.json
  website/source.config.ts
Labels: none

Add basic shells for docs
  website/app/[...slug]/page.tsx
  website/app/source.ts
  website/content/carbon/classes/autocomplete.mdx
  website/content/carbon/classes/client.mdx
  website/content/carbon/classes/commands.mdx
  website/content/carbon/classes/components/buttons.mdx
  website/content/carbon/classes/components/index.mdx
  website/content/carbon/classes/components/meta.json
  website/content/carbon/classes/components/select-menus.mdx
  website/content/carbon/classes/components/text-inputs.mdx
  website/content/carbon/classes/context-menus.mdx
  website/content/carbon/classes/embeds.mdx
  website/content/carbon/classes/index.mdx
  website/content/carbon/classes/modals.mdx
  website/content/carbon/even-more/contributing.mdx
  website/content/carbon/even-more/powered-by-carbon.mdx
  website/content/carbon/helpful-guides/custom-router.mdx
  website/content/carbon/helpful-guides/index.mdx
  website/content/carbon/helpful-guides/partials.mdx
  website/content/carbon/helpful-guides/responses.mdx
  website/content/carbon/helpful-guides/urls.mdx
  website/content/carbon/index.mdx
  website/content/linked-roles/index.mdx
  website/mdx-components.tsx
Labels: none

fix: component registering
  .changeset/config.json
  .changeset/small-paws-look.md
  apps/cloudo/src/commands/ping.ts
  apps/cloudo/src/commands/testing/button.ts
  apps/cloudo/src/commands/testing/every_select.ts
  apps/cloudo/src/commands/testing/message_command.ts
  apps/cloudo/src/commands/testing/modal.ts
  apps/cloudo/src/index.ts
  apps/rocko/src/commands/ping.ts
  apps/rocko/src/commands/testing/button.ts
  apps/rocko/src/commands/testing/every_select.ts
  packages/carbon/src/abstracts/BaseCommand.ts
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/internals/AutocompleteInteraction.ts
  website/content/carbon/classes/commands.mdx
  website/content/carbon/classes/components/buttons.mdx
  website/content/carbon/classes/components/index.mdx
Labels: p:carbon

feat: wildcard command
  .changeset/grumpy-otters-beam.md
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/internals/CommandHandler.ts
  website/content/carbon/classes/commands.mdx
Labels: p:carbon

chore: formatting
  apps/cloudo/src/index.ts
  packages/carbon/src/internals/ModalInteraction.ts
  website/app/[...slug]/page.tsx
  website/app/layout.config.tsx
  website/app/source.ts
  website/mdx-components.tsx
  website/modes.ts
  website/source.config.ts
  website/tsconfig.json
Labels: p:carbon

fix ci
  .github/workflows/ci.yml
Labels: none

add repository urls
  package.json
  packages/carbon/package.json
  packages/linked-roles/package.json
  packages/nodejs/package.json
  packages/request/package.json
Labels: p:carbon, p:nodejs

try this link?
  package.json
  packages/carbon/package.json
  packages/linked-roles/package.json
  packages/nodejs/package.json
  packages/request/package.json
Labels: p:carbon, p:nodejs

disable compact
  .github/workflows/ci.yml
Labels: none

feat: wildcard command (#63)
  .changeset/grumpy-otters-beam.md
  .github/workflows/ci.yml
  apps/cloudo/src/index.ts
  package.json
  packages/carbon/package.json
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/internals/CommandHandler.ts
  packages/carbon/src/internals/ModalInteraction.ts
  packages/linked-roles/package.json
  packages/nodejs/package.json
  packages/request/package.json
  website/app/[...slug]/page.tsx
  website/app/layout.config.tsx
  website/app/source.ts
  website/content/carbon/classes/commands.mdx
  website/mdx-components.tsx
  website/modes.ts
  website/source.config.ts
  website/tsconfig.json
Labels: p:carbon, p:nodejs

fix: use defaultEphemeral for commands and components
  .changeset/wet-ducks-build.md
  packages/carbon/src/abstracts/AnySelectMenuInteraction.ts
  packages/carbon/src/abstracts/BaseComponentInteraction.ts
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/internals/AutocompleteInteraction.ts
  packages/carbon/src/internals/ButtonInteraction.ts
  packages/carbon/src/internals/ChannelSelectMenuInteraction.ts
  packages/carbon/src/internals/CommandHandler.ts
  packages/carbon/src/internals/CommandInteraction.ts
  packages/carbon/src/internals/ComponentHandler.ts
  packages/carbon/src/internals/MentionableSelectMenuInteraction.ts
  packages/carbon/src/internals/ModalHandler.ts
  packages/carbon/src/internals/ModalInteraction.ts
  packages/carbon/src/internals/RoleSelectMenuInteraction.ts
  packages/carbon/src/internals/StringSelectMenuInteraction.ts
  packages/carbon/src/internals/UserSelectMenuInteraction.ts
Labels: p:carbon

ci: add release ci
  .github/workflows/release.yml
Labels: none

fix: make side packages use peer dependencies
  .changeset/serious-yaks-raise.md
  packages/linked-roles/package.json
  packages/nodejs/package.json
Labels: p:nodejs

ci: new actions
  .github/workflows/docs.yml
  .github/workflows/label.yml
  .github/workflows/web-ci.yml
  .vscode/settings.json
Labels: none

ci: use buapebot for this
  .github/workflows/release.yml
Labels: none

change the changelog format
  .changeset/config.json
Labels: none

fix: typoed the package versions
  packages/linked-roles/package.json
  packages/nodejs/package.json
  pnpm-lock.yaml
Labels: dependencies, p:nodejs

chore: only group web deps, no schedule
  .github/renovate.json
Labels: none

chore: add codeowners
  .github/CODEOWNERS
Labels: none

ci: fix wrong token names
  .github/workflows/label.yml
  .github/workflows/release.yml
Labels: none

ci: more cleanup
  .github/workflows/ci.yml
  .github/workflows/prs.yml
Labels: none

.github/labeler.yml:

"dependencies":
    - changed-files:
          - any-glob-to-any-file: ["pnpm-lock.yaml"]
"p:carbon":
    - changed-files:
          - any-glob-to-any-file: ["packages/carbon/**"]
"p:discord-request":
    - changed-files:
          - any-glob-to-any-file: ["packages/discord-request/**"]
"p:nodejs":
    - changed-files:
          - any-glob-to-any-file: ["packages/nodejs/**"]
"docs":
    - changed-files:
          - any-glob-to-any-file: ["apps/website/**"]
