Repository buape/carbon, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, package: carbon, package: create-carbon, plugin: gateway, package: linked-roles

.github/labeler.yml:

"dependencies":
    - changed-files:
        - any-glob-to-any-file: ["pnpm-lock.yaml"]
"package: carbon":
    - changed-files:
        - any-glob-to-any-file: ["packages/carbon/**"]
"package: create-carbon":
    - changed-files:
        - any-glob-to-any-file: ["packages/create-carbon/**"]
"plugin: gateway":
    - changed-files:
        - any-glob-to-any-file: [
            "packages/carbon/src/plugins/gateway-forwarder",
            "packages/carbon/src/plugins/gateway",
            "packages/carbon/src/plugins/sharding"
        ]
"package: linked-roles":
    - changed-files:
        - any-glob-to-any-file: ["packages/carbon/src/plugins/linked-roles"]

chore: merge snapshot workflow into release
  .github/workflows/release.yml
  .github/workflows/snapshot.yml
Labels: none

chore: allow snapshot on workflow dispatch
  .github/workflows/release.yml
Labels: none

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-354.md
Labels: none

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-355.md
Labels: none

feat: add voice message support
  packages/carbon/src/classes/RequestClient.ts
  packages/carbon/src/types/index.ts
  packages/carbon/src/utils/payload.ts
  packages/carbon/tests/classes/requestClient.test.ts
  packages/carbon/tests/utils/payload.test.ts
Labels: package: carbon

fix: skip multipart for empty files, offset attachment IDs
  packages/carbon/src/classes/RequestClient.ts
Labels: package: carbon

fix: pin hono >=4.11.10 to resolve timing vulnerability in node adapter
  .changeset/fix-hono-security-pin.md
  packages/carbon/package.json
Labels: package: carbon

feat: add custom fetch injection to RequestClient
  packages/carbon/src/classes/RequestClient.ts
Labels: package: carbon

feat: add custom fetch injection to RequestClient
  packages/carbon/src/classes/RequestClient.ts
  packages/carbon/tests/classes/requestClient.test.ts
Labels: package: carbon

fix(gateway): invalidate stale resume session after consecutive failures
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
Labels: package: carbon

add changeset for patch version bump
  .changeset/fix-stale-resume-loop.md
Labels: none

fix: broken pathname logic in client manager for multiple base urls
  packages/carbon/src/plugins/client-manager/ClientManager.ts
Labels: package: carbon

fix: broken pathname logic in client manager for multiple base urls
  packages/carbon/src/plugins/client-manager/ClientManager.ts
Labels: package: carbon

fix: change webhook query handling to avoid duplicating thread_id and other params
  .changeset/wild-wolves-dream.md
  packages/carbon/src/structures/Webhook.ts
Labels: package: carbon

feat(request): support custom fetch dispatcher without global mutation
  packages/carbon/src/classes/RequestClient.ts
Labels: package: carbon

fix: send the with_components flag for webhooks if needed
  packages/carbon/src/structures/Webhook.ts
  packages/carbon/tests/classes/webhook.test.ts
Labels: package: carbon

fix: track guild availability to prevent sending GUILD_CREATE events on startup
  packages/carbon/src/plugins/gateway-forwarder/GatewayForwarderPlugin.ts
  packages/carbon/tests/plugins/gateway-forwarder.test.ts
Labels: package: carbon

i forgot this repo does things correctly and requires changesets
  .changeset/swift-walls-carry.md
Labels: none

fix: track guild availability to prevent sending GUILD_CREATE events on startup (#369)
  .changeset/swift-walls-carry.md
  packages/carbon/src/plugins/gateway-forwarder/GatewayForwarderPlugin.ts
  packages/carbon/tests/plugins/gateway-forwarder.test.ts
Labels: package: carbon

Add reconcile mode for Discord command deployment
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/plugins/client-manager/ClientManager.ts
  packages/carbon/tests/classes/client.test.ts
Labels: package: carbon

Fix Discord command reconcile normalization
  packages/carbon/src/classes/Client.ts
  packages/carbon/tests/classes/client.test.ts
Labels: package: carbon

add changeset
  .changeset/ten-horses-protect.md
Labels: none

clean up AI code smells
  packages/carbon/src/classes/Client.ts
  packages/carbon/tests/classes/client.test.ts
Labels: package: carbon

feat: Add reconcile mode for Discord command deployment (#368)
  .changeset/ten-horses-protect.md
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/plugins/client-manager/ClientManager.ts
  packages/carbon/tests/classes/client.test.ts
Labels: package: carbon

add changeset
  .changeset/odd-tigers-judge.md
Labels: none

simplify changeset
  .changeset/fix-stale-resume-loop.md
Labels: none

feat: add support for sending voice messages (#358)
  .changeset/odd-tigers-judge.md
  packages/carbon/src/classes/RequestClient.ts
  packages/carbon/src/types/index.ts
  packages/carbon/src/utils/payload.ts
  packages/carbon/tests/classes/requestClient.test.ts
  packages/carbon/tests/utils/payload.test.ts
Labels: package: carbon

add changeset
  .changeset/neat-trees-grin.md
Labels: none

chore: formatting
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
Labels: package: carbon

fix(gateway): invalidate stale resume session after consecutive failures (#364)
  .changeset/fix-stale-resume-loop.md
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
Labels: package: carbon

feat: add custom fetch injection to RequestClient (#363)
  .changeset/neat-trees-grin.md
  packages/carbon/src/classes/RequestClient.ts
  packages/carbon/tests/classes/requestClient.test.ts
Labels: package: carbon

feat: add support for Entry Point commands
  .changeset/cool-rocks-look.md
  packages/carbon/src/abstracts/BaseCommand.ts
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/classes/EntryPointCommand.ts
  packages/carbon/src/index.ts
Labels: package: carbon

feat: include request metadata on RateLimitError
  .changeset/fair-llamas-cheer.md
  packages/carbon/src/classes/RequestClient.ts
  packages/carbon/src/errors/RatelimitError.ts
  packages/carbon/tests/classes/requestClient.test.ts
  packages/carbon/tests/errors.test.ts
Labels: package: carbon

feat: add parseRawData to GuildAvailable and GuildUnavailable listeners
  .changeset/bright-wolves-dance.md
  packages/carbon/src/classes/Listener.ts
  packages/carbon/src/types/listeners.ts
Labels: package: carbon

feat: add parseRawData to GuildAvailable and GuildUnavailable listeners (#372)
  .changeset/bright-wolves-dance.md
  packages/carbon/src/classes/Listener.ts
  packages/carbon/src/types/listeners.ts
Labels: package: carbon

fix: add repository urls for npm provenance
  packages/carbon/package.json
  packages/create-carbon/package.json
Labels: package: carbon, package: create-carbon

fix: gateway invalid session
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
  packages/carbon/tests/gateway-reconnect.test.ts
Labels: package: carbon

Gateway: suppress reconnects on intentional close
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
  packages/carbon/tests/gateway-reconnect.test.ts
Labels: package: carbon

feat: rewrite GatewayPlugin for better Discord lifecycle handling and extending
  .changeset/tall-guests-report.md
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
  packages/carbon/src/plugins/gateway/types.ts
  packages/carbon/src/plugins/gateway/utils/heartbeat.ts
  packages/carbon/src/plugins/gateway/utils/payload.ts
  packages/carbon/tests/gateway-reconnect.test.ts
  packages/carbon/tests/plugins/gateway-heartbeat.test.ts
  website/content/plugins/gateway-events.mdx
  website/content/plugins/gateway-lifecycle.mdx
  website/content/plugins/gateway.mdx
Labels: package: carbon

feat(runtime): add lane-based request/event queues, resilient forwarder delivery, and startup/runtime metrics
  .changeset/light-beds-obey.md
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/classes/RequestClient.ts
  packages/carbon/src/internals/BoundedExecutor.ts
  packages/carbon/src/internals/EventQueue.ts
  packages/carbon/src/internals/RequestBody.ts
  packages/carbon/src/internals/RequestScheduler.ts
  packages/carbon/src/plugins/client-manager/ClientManager.ts
  packages/carbon/src/plugins/gateway-forwarder/GatewayForwarderPlugin.ts
  packages/carbon/src/types/listeners.ts
  packages/carbon/tests/adapters/fetch-handler.test.ts
  packages/carbon/tests/classes/client.test.ts
  packages/carbon/tests/classes/requestClient.test.ts
  packages/carbon/tests/internals/eventQueue.test.ts
  packages/carbon/tests/load/request-scheduler.simulation.test.ts
  packages/carbon/tests/plugins/client-manager.test.ts
  packages/carbon/tests/plugins/gateway-forwarder.test.ts
  website/content/classes/client.mdx
  website/content/plugins/client-manager.mdx
  website/content/plugins/gateway-forwarder.mdx
Labels: package: carbon
