Repository buape/carbon, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, package: carbon, package: create-carbon, plugin: gateway, package: linked-roles

feat: add support for current member set banner/avatar/bio (#295)
  .changeset/social-bananas-grow.md
  packages/carbon/src/structures/GuildMember.ts
Labels: package: carbon

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-293.md
Labels: none

feat: add carbon current rewrite
  website/next.config.mjs
Labels: none

feat: allow optional webhook headers for the forwarder plugins
  .changeset/wide-onions-shave.md
  packages/carbon/src/plugins/gateway-forwarder/GatewayForwarderPlugin.ts
Labels: package: carbon

bump opennext version
  pnpm-lock.yaml
  website/package.json
Labels: dependencies

Update next.config.mjs
  website/next.config.mjs
Labels: none

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-298.md
Labels: none

update logos
  README.md
  apps/rocko/src/commands/testing/components_v2.ts
  packages/carbon/README.md
  packages/create-carbon/README.md
  website/app/layout.config.tsx
  website/content/classes/embeds.mdx
  website/content/getting-started/introduction.mdx
Labels: package: carbon, package: create-carbon

fix: subcommand `serialize` missing properties
  packages/carbon/src/classes/CommandWithSubcommandGroups.ts
  packages/carbon/src/classes/CommandWithSubcommands.ts
Labels: package: carbon

chore: changeset
  .changeset/short-lands-rhyme.md
Labels: none

fix: subcommand `serialize` missing properties (#300)
  .changeset/short-lands-rhyme.md
  packages/carbon/src/classes/CommandWithSubcommandGroups.ts
  packages/carbon/src/classes/CommandWithSubcommands.ts
Labels: package: carbon

fix: correct typo ("achnowledging")
  website/content/concepts/interaction-responses.mdx
Labels: none

fix: correct typo ("achnowledging") (#302)
  website/content/concepts/interaction-responses.mdx
Labels: none

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-298.md
Labels: none

feat: wildcard components and modals
  .changeset/petite-turtles-beam.md
  packages/carbon/src/internals/ComponentHandler.ts
  packages/carbon/src/internals/ModalHandler.ts
  website/content/concepts/wildcards.mdx
Labels: package: carbon

remove duplicate changeset
  .changeset/dependencies-GH-292.md
Labels: none

feat: make gateway plugin options accessible to the user
  .changeset/rotten-pants-sing.md
  packages/carbon/src/plugins/gateway-forwarder/GatewayForwarderPlugin.ts
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
Labels: package: carbon

feat: Add the file upload component for modals
  .changeset/silver-points-cover.md
  apps/cloudo/src/commands/testing/modal3.ts
  apps/cloudo/src/index.ts
  apps/rocko/src/commands/testing/modal3.ts
  apps/rocko/src/index.ts
  packages/carbon/src/abstracts/BaseModalComponent.ts
  packages/carbon/src/classes/components/FileUpload.ts
  packages/carbon/src/classes/components/Label.ts
  packages/carbon/src/classes/components/TextInput.ts
  packages/carbon/src/index.ts
  packages/carbon/src/internals/FieldsHandler.ts
Labels: package: carbon

feat: add option to gateway plugin to automatically listen to gateway interactionCreate events
  .changeset/proud-women-lick.md
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/classes/Listener.ts
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
  packages/carbon/src/plugins/gateway/InteractionEventListener.ts
  packages/carbon/src/plugins/gateway/types.ts
  packages/carbon/src/types/listeners.ts
  website/content/plugins/gateway.mdx
Labels: package: carbon

fix: incorrect content type for commands route from command data plugin
  .changeset/silent-ghosts-clean.md
  packages/carbon/src/plugins/command-data/CommandDataPlugin.ts
Labels: package: carbon

fix: incorrect content type for commands route from command data plugin (#308)
  .changeset/silent-ghosts-clean.md
  packages/carbon/src/plugins/command-data/CommandDataPlugin.ts
Labels: package: carbon

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-305.md
Labels: none

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-306.md
Labels: none

fix: requested changes
  apps/cloudo/src/commands/testing/modal3.ts
  apps/rocko/src/commands/testing/modal3.ts
  packages/carbon/src/abstracts/BaseModalComponent.ts
  packages/carbon/src/classes/components/FileUpload.ts
  packages/carbon/src/internals/FieldsHandler.ts
Labels: package: carbon

feat: Add the file upload component for modals (#307)
  .changeset/silver-points-cover.md
  apps/cloudo/src/commands/testing/modal3.ts
  apps/cloudo/src/index.ts
  apps/rocko/src/commands/testing/modal3.ts
  apps/rocko/src/index.ts
  packages/carbon/src/abstracts/BaseModalComponent.ts
  packages/carbon/src/classes/components/FileUpload.ts
  packages/carbon/src/classes/components/Label.ts
  packages/carbon/src/classes/components/TextInput.ts
  packages/carbon/src/index.ts
  packages/carbon/src/internals/FieldsHandler.ts
Labels: package: carbon

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-306.md
Labels: none

update pnpm
  package.json
  pnpm-lock.yaml
Labels: dependencies

fix typings
  packages/carbon/src/structures/GuildThreadChannel.ts
  packages/carbon/src/types/listeners.ts
Labels: package: carbon

fix typings
  packages/carbon/src/structures/GuildThreadChannel.ts
  packages/carbon/src/types/listeners.ts
Labels: package: carbon

update pnpm
  package.json
  pnpm-lock.yaml
Labels: dependencies

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-306.md
Labels: none

chore: update biome
  apps/rocko/src/commands/testing/components_v2.ts
  apps/rocko/src/commands/testing/poll.ts
  biome.json
  package.json
  packages/carbon/src/abstracts/BaseGuildChannel.ts
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/abstracts/GuildThreadOnlyChannel.ts
  packages/carbon/src/classes/Listener.ts
  packages/carbon/src/classes/components/Button.ts
  packages/carbon/src/errors/DiscordError.ts
  packages/carbon/src/index.ts
  packages/carbon/src/internals/FieldsHandler.ts
  packages/carbon/src/plugins/gateway-forwarder/ShardedGatewayForwarderPlugin.ts
  packages/carbon/src/plugins/gateway-forwarder/index.ts
  packages/carbon/src/plugins/paginator/GoToPageModal.ts
  packages/carbon/src/plugins/paginator/Paginator.ts
  packages/carbon/src/plugins/sharding/index.ts
  packages/carbon/src/structures/DmChannel.ts
  packages/carbon/src/structures/Emoji.ts
  packages/carbon/src/structures/Guild.ts
  packages/carbon/src/structures/ThreadMember.ts
  packages/carbon/src/structures/User.ts
  packages/carbon/src/types/index.ts
  packages/carbon/src/types/listeners.ts
  packages/carbon/tests/classes/requestClient.test.ts
  packages/carbon/tests/errors.test.ts
  packages/carbon/tests/index.test.ts
  packages/create-carbon/src/tools/npmHelpers.ts
  packages/create-carbon/src/tools/templateProcessor.ts
  pnpm-lock.yaml
  website/components/api-docs.tsx
  website/components/api-item-detail.tsx
  website/components/api-tree.ts
  website/components/icon.tsx
  website/components/package-manager.tsx
  website/components/route-card.tsx
  website/next.config.mjs
  website/source.config.ts
Labels: dependencies, package: carbon, package: create-carbon

feat: add ClientManager plugin
  .changeset/thin-dots-allow.md
  packages/carbon/src/index.ts
  packages/carbon/src/plugins/client-manager/ClientManager.ts
  packages/carbon/src/plugins/client-manager/index.ts
  website/content/plugins/multi-app.mdx
Labels: package: carbon

fix: misc fixes and docs fix
  packages/carbon/src/index.ts
  packages/carbon/src/plugins/paginator/index.ts
  packages/create-carbon/src/tools/templateProcessor.ts
  website/app/api/search/route.ts
  website/content/plugins/multi-app.mdx
  website/next-env.d.ts
  website/package.json
Labels: package: carbon, package: create-carbon

web: update and fix fumadocs
  pnpm-lock.yaml
  website/app/[...slug]/page.tsx
  website/app/api/search/route.ts
  website/app/layout.config.tsx
  website/app/og/[...slug]/metadata.ts
  website/app/og/[...slug]/route.tsx
  website/app/source.ts
  website/package.json
  website/source.config.ts
Labels: dependencies

change icon and path for client manager page
  website/content/plugins/client-manager.mdx
Labels: none

make clients protected not private
  packages/carbon/src/plugins/client-manager/ClientManager.ts
Labels: package: carbon

feat: remove the Webhook's dependency on the Client
  .changeset/bitter-olives-roll.md
  packages/carbon/src/classes/RequestClient.ts
  packages/carbon/src/structures/Webhook.ts
  packages/carbon/tests/classes/webhook.test.ts
Labels: package: carbon

oops fix the type
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/structures/Webhook.ts
Labels: package: carbon

feat: scheduled events
  .changeset/tough-doors-tease.md
  apps/rocko/src/commands/testing/scheduled_events.ts
  apps/rocko/src/index.ts
  packages/carbon/src/index.ts
  packages/carbon/src/structures/Guild.ts
  packages/carbon/src/structures/GuildScheduledEvent.ts
Labels: package: carbon

.github/labeler.yml:

"dependencies":
    - changed-files:
        - any-glob-to-any-file: ["pnpm-lock.yaml"]
"package: carbon":
    - changed-files:
        - any-glob-to-any-file: ["packages/carbon/**"]
"package: create-carbon":
    - changed-files:
        - any-glob-to-any-file: ["packages/create-carbon/**"]
"plugin: gateway":
    - changed-files:
        - any-glob-to-any-file: [
            "packages/carbon/src/plugins/gateway-forwarder",
            "packages/carbon/src/plugins/gateway",
            "packages/carbon/src/plugins/sharding"
        ]
"package: linked-roles":
    - changed-files:
        - any-glob-to-any-file: ["packages/carbon/src/plugins/linked-roles"]
