Repository buape/carbon, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, p:carbon, p:discord-request, p:nodejs, docs

v0.1.1
  .changeset/neat-ads-melt.md
  packages/carbon/CHANGELOG.md
  packages/carbon/package.json
  packages/linked-roles/CHANGELOG.md
  packages/linked-roles/package.json
  packages/nodejs/CHANGELOG.md
  packages/nodejs/package.json
Labels: p:carbon, p:nodejs

fix web
  website/content/carbon/getting-started/cloudflare-workers.mdx
  website/content/carbon/getting-started/nodejs.mdx
Labels: none

Docs fixes from Finny
  website/content/carbon/getting-started/nodejs.mdx
Labels: none

another docs fix
  website/content/carbon/getting-started/cloudflare-workers.mdx
Labels: none

fix a bad import on docs
  website/content/linked-roles/index.mdx
Labels: none

Create neat-feet-attack.md
  .changeset/neat-feet-attack.md
Labels: none

add urls for linked roles on docs
  website/content/linked-roles/index.mdx
Labels: none

add deploying commands to docs
  website/content/carbon/getting-started/cloudflare-workers.mdx
Labels: none

feat: Allow users to use their own router instead of Carbon's router
  .changeset/lazy-berries-return.md
  packages/carbon/src/classes/Client.ts
  website/content/carbon/advanced/custom-router.mdx
  website/content/carbon/advanced/meta.json
  website/content/carbon/advanced/urls.mdx
Labels: p:carbon

fix example with components
  apps/cloudo/src/commands/testing/button.ts
  apps/cloudo/src/commands/testing/every_select.ts
  apps/rocko/src/commands/testing/button.ts
  apps/rocko/src/commands/testing/every_select.ts
  packages/carbon/src/abstracts/BaseCommand.ts
  packages/carbon/src/classes/Command.ts
Labels: p:carbon

fix options cmd
  apps/cloudo/src/commands/testing/options.ts
Labels: none

fix: OptionsHandler#getInteger was not typed correctly
  .changeset/kind-ears-promise.md
  packages/carbon/src/internals/OptionsHandler.ts
Labels: p:carbon

revert accidental component change
  packages/carbon/src/abstracts/BaseCommand.ts
  packages/carbon/src/classes/Command.ts
Labels: p:carbon

v0.1.2
  .changeset/kind-ears-promise.md
  .changeset/lazy-berries-return.md
  .changeset/neat-feet-attack.md
  packages/carbon/CHANGELOG.md
  packages/carbon/package.json
  packages/linked-roles/CHANGELOG.md
  packages/linked-roles/package.json
  packages/nodejs/CHANGELOG.md
  packages/nodejs/package.json
Labels: p:carbon, p:nodejs

fix: use Request instead of IRequestStrict for Client#handle
  apps/cloudo/.wrangler/tmp/deploy-PFMdGv/index.js
  apps/cloudo/.wrangler/tmp/deploy-PFMdGv/index.js.map
  packages/carbon/CHANGELOG.md
  packages/carbon/package.json
  packages/carbon/src/classes/Client.ts
  packages/linked-roles/CHANGELOG.md
  packages/linked-roles/package.json
  packages/nodejs/CHANGELOG.md
  packages/nodejs/package.json
Labels: p:carbon, p:nodejs

fix: use Request instead of IRequestStrict for Client#handle
  packages/carbon/src/classes/Client.ts
Labels: p:carbon

v0.1.3
  packages/carbon/CHANGELOG.md
  packages/carbon/package.json
  packages/linked-roles/CHANGELOG.md
  packages/linked-roles/package.json
  packages/nodejs/CHANGELOG.md
  packages/nodejs/package.json
Labels: p:carbon, p:nodejs

feat: make components automatically registered
  .changeset/curly-dots-burn.md
  apps/cloudo/src/commands/testing/button.ts
  apps/cloudo/src/commands/testing/every_select.ts
  apps/rocko/src/commands/testing/button.ts
  apps/rocko/src/commands/testing/every_select.ts
  packages/carbon/src/abstracts/BaseCommand.ts
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/classes/Row.ts
  packages/carbon/src/internals/CommandHandler.ts
  packages/carbon/src/internals/ComponentHandler.ts
Labels: p:carbon

feat: modal support
  .changeset/polite-turkeys-speak.md
  apps/rocko/src/commands/testing/modal.ts
  apps/rocko/src/index.ts
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/classes/Modal.ts
  packages/carbon/src/classes/Row.ts
  packages/carbon/src/classes/TextInput.ts
  packages/carbon/src/index.ts
  packages/carbon/src/internals/ModalHandler.ts
  packages/carbon/src/internals/ModalInteraction.ts
Labels: p:carbon

chore: formatting
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/classes/Modal.ts
  packages/carbon/src/internals/ModalInteraction.ts
Labels: p:carbon

Modal Support! (#54)
  .changeset/polite-turkeys-speak.md
  apps/rocko/src/commands/testing/modal.ts
  apps/rocko/src/index.ts
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/classes/Modal.ts
  packages/carbon/src/classes/Row.ts
  packages/carbon/src/classes/TextInput.ts
  packages/carbon/src/index.ts
  packages/carbon/src/internals/ModalHandler.ts
  packages/carbon/src/internals/ModalInteraction.ts
Labels: p:carbon

Create fresh-walls-cheat.md
  .changeset/fresh-walls-cheat.md
Labels: none

v0.2.0
  .changeset/curly-dots-burn.md
  .changeset/fresh-walls-cheat.md
  .changeset/polite-turkeys-speak.md
  packages/carbon/CHANGELOG.md
  packages/carbon/package.json
  packages/linked-roles/CHANGELOG.md
  packages/linked-roles/package.json
  packages/nodejs/CHANGELOG.md
  packages/nodejs/package.json
Labels: p:carbon, p:nodejs

chore: disable renovate dashboard
  .github/renovate.json
Labels: none

feat: embeds
  .changeset/ten-houses-pull.md
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/classes/Embed.ts
  packages/carbon/src/index.ts
Labels: p:carbon

chore: clean up package distribution
  packages/carbon/package.json
  packages/linked-roles/package.json
  packages/nodejs/package.json
  packages/request/package.json
  turbo/generators/templates/package.json.hbs
Labels: p:carbon, p:nodejs

feat: add fields handler
  .changeset/five-sloths-notice.md
  packages/carbon/src/internals/FieldsHandler.ts
  packages/carbon/src/internals/ModalInteraction.ts
Labels: p:carbon

feat: add ComponentInteraction#acknowledge
  .changeset/dull-avocados-add.md
  packages/carbon/src/abstracts/BaseComponentInteraction.ts
  packages/carbon/src/abstracts/BaseInteraction.ts
Labels: p:carbon

fix: new interaction verification
  .changeset/breezy-kiwis-attend.md
  apps/rocko/src/commands/testing/modal.ts
  packages/carbon/package.json
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/utils.ts
  pnpm-lock.yaml
Labels: dependencies, p:carbon

feat: add overloads for a required type for options and fields
  .changeset/hot-spiders-sit.md
  packages/carbon/src/abstracts/BaseComponentInteraction.ts
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/internals/FieldsHandler.ts
  packages/carbon/src/internals/OptionsHandler.ts
  packages/carbon/src/utils.ts
Labels: p:carbon

v0.3.0
  .changeset/breezy-kiwis-attend.md
  .changeset/dull-avocados-add.md
  .changeset/five-sloths-notice.md
  .changeset/hot-spiders-sit.md
  packages/carbon/CHANGELOG.md
  packages/carbon/package.json
  packages/linked-roles/CHANGELOG.md
  packages/linked-roles/package.json
  packages/nodejs/CHANGELOG.md
  packages/nodejs/package.json
Labels: p:carbon, p:nodejs

feat: embeds (#55)
  .changeset/ten-houses-pull.md
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/classes/Embed.ts
  packages/carbon/src/index.ts
Labels: p:carbon

v0.3.1
  .changeset/ten-houses-pull.md
  packages/carbon/CHANGELOG.md
  packages/carbon/package.json
  packages/linked-roles/CHANGELOG.md
  packages/linked-roles/package.json
  packages/nodejs/CHANGELOG.md
  packages/nodejs/package.json
Labels: p:carbon, p:nodejs

new pages
  website/content/carbon/advanced/meta.json
  website/content/carbon/classes/autocomplete.mdx
  website/content/carbon/classes/commands.mdx
  website/content/carbon/classes/components/buttons.mdx
  website/content/carbon/classes/components/index.mdx
  website/content/carbon/classes/components/select-menus.mdx
  website/content/carbon/classes/components/text-inputs.mdx
  website/content/carbon/classes/context-menus.mdx
  website/content/carbon/classes/index.mdx
  website/content/carbon/classes/modals.mdx
  website/content/carbon/even-more/contributing.mdx
  website/content/carbon/even-more/powered-by-carbon.mdx
  website/content/carbon/getting-started/bun.mdx
  website/content/carbon/getting-started/index.mdx
  website/content/carbon/getting-started/nextjs.mdx
  website/content/carbon/helpful-guides/custom-router.mdx
  website/content/carbon/helpful-guides/developer-portal/create-a-bot.mdx
  website/content/carbon/helpful-guides/developer-portal/index.mdx
  website/content/carbon/helpful-guides/developer-portal/meta.json
  website/content/carbon/helpful-guides/developer-portal/urls.mdx
  website/content/carbon/helpful-guides/meta.json
  website/content/carbon/helpful-guides/partials.mdx
  website/content/carbon/helpful-guides/responses.mdx
  website/content/carbon/helpful-guides/urls.mdx
  website/content/carbon/helpful-guides/why-classes.mdx
  website/content/carbon/index.mdx
  website/content/carbon/meta.json
Labels: none

wip
  pnpm-lock.yaml
  website/.source/index.d.ts
  website/.source/index.js
  website/.source/manifest.json
  website/.source/source.config.mjs
  website/app/[...slug]/page.tsx
  website/app/[...slug]/toggle.tsx
  website/app/layout.config.tsx
  website/app/source.ts
  website/components/icon.tsx
  website/content/carbon/helpful-guides/index.mdx
  website/content/carbon/index.mdx
  website/mdx-components.tsx
  website/modes.ts
  website/next.config.mjs
  website/package.json
  website/postcss.config.cjs
  website/public/favicon.ico
  website/source.config.ts
  website/tsconfig.json
Labels: dependencies

feat: add support for interaction#acknowledge for modals
  .changeset/kind-rice-count.md
  packages/carbon/src/internals/ModalInteraction.ts
Labels: p:carbon

feat: add followup messages for interactions
  .changeset/lazy-phones-complain.md
  packages/carbon/src/abstracts/BaseComponentInteraction.ts
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/internals/ModalInteraction.ts
Labels: p:carbon

v0.3.2
  .changeset/kind-rice-count.md
  .changeset/lazy-phones-complain.md
  packages/carbon/CHANGELOG.md
  packages/carbon/package.json
  packages/linked-roles/CHANGELOG.md
  packages/linked-roles/package.json
  packages/nodejs/CHANGELOG.md
  packages/nodejs/package.json
Labels: p:carbon, p:nodejs

ci: add pkg-pr-new
  .github/workflows/ci.yml
Labels: none

fix gitignore
  .gitignore
  website/.source/index.d.ts
  website/.source/index.js
  website/.source/manifest.json
  website/.source/source.config.mjs
Labels: none

.github/labeler.yml:

"dependencies":
    - changed-files:
          - any-glob-to-any-file: ["pnpm-lock.yaml"]
"p:carbon":
    - changed-files:
          - any-glob-to-any-file: ["packages/carbon/**"]
"p:discord-request":
    - changed-files:
          - any-glob-to-any-file: ["packages/discord-request/**"]
"p:nodejs":
    - changed-files:
          - any-glob-to-any-file: ["packages/nodejs/**"]
"docs":
    - changed-files:
          - any-glob-to-any-file: ["apps/website/**"]
