Repository buape/carbon, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, package: carbon, package: create-carbon, plugin: gateway, package: linked-roles

.github/labeler.yml:

"dependencies":
    - changed-files:
        - any-glob-to-any-file: ["pnpm-lock.yaml"]
"package: carbon":
    - changed-files:
        - any-glob-to-any-file: ["packages/carbon/**"]
"package: create-carbon":
    - changed-files:
        - any-glob-to-any-file: ["packages/create-carbon/**"]
"plugin: gateway":
    - changed-files:
        - any-glob-to-any-file: [
            "packages/carbon/src/plugins/gateway-forwarder",
            "packages/carbon/src/plugins/gateway",
            "packages/carbon/src/plugins/sharding"
        ]
"package: linked-roles":
    - changed-files:
        - any-glob-to-any-file: ["packages/carbon/src/plugins/linked-roles"]

feat: add opt-in entity caching
  README.md
  apps/rocko/src/index.ts
  packages/carbon/src/abstracts/BaseChannel.ts
  packages/carbon/src/cache/CacheManager.ts
  packages/carbon/src/cache/MemoryCacheStore.ts
  packages/carbon/src/cache/index.ts
  packages/carbon/src/cache/types.ts
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/index.ts
  packages/carbon/src/internals/EventHandler.ts
  packages/carbon/src/plugins/cache/CachePlugin.ts
  packages/carbon/src/plugins/cache/RedisCachePlugin.ts
  packages/carbon/src/plugins/cache/RedisCacheStore.ts
  packages/carbon/src/plugins/cache/index.ts
  packages/carbon/src/structures/Emoji.ts
  packages/carbon/src/structures/Guild.ts
  packages/carbon/src/structures/GuildMember.ts
  packages/carbon/src/structures/GuildScheduledEvent.ts
  packages/carbon/src/structures/Message.ts
  packages/carbon/src/structures/Role.ts
  packages/carbon/src/structures/User.ts
  website/pages/beta/concepts/caching.mdx
  website/pages/beta/concepts/index.mdx
Labels: package: carbon

fix: address cache review findings
  .changeset/opt-in-entity-cache.md
  packages/carbon/src/cache/CacheManager.ts
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/plugins/cache/CachePlugin.ts
  packages/carbon/src/plugins/cache/RedisCachePlugin.ts
  packages/carbon/src/plugins/cache/RedisCacheStore.ts
  packages/carbon/src/structures/Emoji.ts
  packages/carbon/src/structures/Guild.ts
  packages/carbon/src/structures/GuildMember.ts
  packages/carbon/src/structures/GuildScheduledEvent.ts
  packages/carbon/src/structures/Message.ts
  packages/carbon/src/structures/Role.ts
  packages/carbon/src/structures/User.ts
  website/pages/beta/concepts/caching.mdx
Labels: package: carbon

feat: add opt-in entity caching
  .changeset/opt-in-entity-cache.md
  README.md
  apps/rocko/src/index.ts
  packages/carbon/src/abstracts/BaseChannel.ts
  packages/carbon/src/cache/CacheManager.ts
  packages/carbon/src/cache/MemoryCacheStore.ts
  packages/carbon/src/cache/index.ts
  packages/carbon/src/cache/types.ts
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/index.ts
  packages/carbon/src/internals/EventHandler.ts
  packages/carbon/src/plugins/cache/CachePlugin.ts
  packages/carbon/src/plugins/cache/RedisCachePlugin.ts
  packages/carbon/src/plugins/cache/RedisCacheStore.ts
  packages/carbon/src/plugins/cache/index.ts
  packages/carbon/src/structures/Emoji.ts
  packages/carbon/src/structures/Guild.ts
  packages/carbon/src/structures/GuildMember.ts
  packages/carbon/src/structures/GuildScheduledEvent.ts
  packages/carbon/src/structures/Message.ts
  packages/carbon/src/structures/Role.ts
  packages/carbon/src/structures/User.ts
  website/pages/beta/concepts/caching.mdx
  website/pages/beta/concepts/index.mdx
Labels: package: carbon

fix: hydrate guild child cache entries
  packages/carbon/src/cache/CacheManager.ts
Labels: package: carbon

fix: hydrate guild child cache entries
  packages/carbon/src/cache/CacheManager.ts
Labels: package: carbon

fix: support ioredis cache clients
  packages/carbon/src/plugins/cache/RedisCacheStore.ts
Labels: package: carbon

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-394.md
Labels: none

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-381.md
Labels: none

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-396.md
Labels: none

chore: reduce deps
  .changeset/dependency-diet-native-websocket.md
  apps/cloudo/package.json
  apps/pointo/package.json
  apps/pointo/src/index.ts
  apps/rocko/package.json
  apps/rocko/src/index.ts
  apps/socketo/package.json
  apps/socketo/src/index.ts
  package.json
  packages/carbon/package.json
  packages/carbon/src/plugins/gateway/GatewayPlugin.ts
  packages/carbon/src/plugins/gateway/types.ts
  packages/create-carbon/package.json
  packages/create-carbon/src/index.ts
  packages/create-carbon/src/tools/npmHelpers.ts
  packages/create-carbon/src/tools/templateProcessor.ts
  packages/create-carbon/template/_fetch/local.ts.hbs
  packages/create-carbon/template/forwarder.ts.hbs
  packages/create-carbon/template/index.ts.hbs
  packages/create-carbon/template/package.json.hbs
  pnpm-lock.yaml
Labels: dependencies, package: carbon, package: create-carbon

feat: add a testing package to carbon's suite
  .changeset/grumpy-jars-stop.md
  .gitignore
  packages/carbon-testing/README.md
  packages/carbon-testing/package.json
  packages/carbon-testing/src/assertions/core.ts
  packages/carbon-testing/src/bun.ts
  packages/carbon-testing/src/fakeDiscord.ts
  packages/carbon-testing/src/index.ts
  packages/carbon-testing/src/interactionRunner.ts
  packages/carbon-testing/src/recorder.ts
  packages/carbon-testing/src/snowflake.ts
  packages/carbon-testing/src/testCarbon.ts
  packages/carbon-testing/src/types.ts
  packages/carbon-testing/src/vitest.ts
  packages/carbon-testing/tsconfig.json
  packages/carbon/src/abstracts/BaseComponentInteraction.ts
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/classes/RequestClient.ts
  packages/carbon/src/index.ts
  packages/carbon/src/internals/AutocompleteInteraction.ts
  packages/carbon/src/internals/CommandHandler.ts
  packages/carbon/src/internals/ComponentHandler.ts
  packages/carbon/src/internals/ModalHandler.ts
  packages/carbon/src/internals/ModalInteraction.ts
  packages/carbon/src/types/testHooks.ts
  packages/carbon/tests/internals/componentHandler.test.ts
  pnpm-lock.yaml
  website/pages/beta/even-more/testing.mdx
Labels: dependencies, package: carbon

feat: add a testing package to carbon's suite (#398)
  .changeset/grumpy-jars-stop.md
  .gitignore
  packages/carbon-testing/README.md
  packages/carbon-testing/package.json
  packages/carbon-testing/src/assertions/core.ts
  packages/carbon-testing/src/bun.ts
  packages/carbon-testing/src/fakeDiscord.ts
  packages/carbon-testing/src/index.ts
  packages/carbon-testing/src/interactionRunner.ts
  packages/carbon-testing/src/recorder.ts
  packages/carbon-testing/src/snowflake.ts
  packages/carbon-testing/src/testCarbon.ts
  packages/carbon-testing/src/types.ts
  packages/carbon-testing/src/vitest.ts
  packages/carbon-testing/tsconfig.json
  packages/carbon/src/abstracts/BaseComponentInteraction.ts
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/classes/RequestClient.ts
  packages/carbon/src/index.ts
  packages/carbon/src/internals/AutocompleteInteraction.ts
  packages/carbon/src/internals/CommandHandler.ts
  packages/carbon/src/internals/ComponentHandler.ts
  packages/carbon/src/internals/ModalHandler.ts
  packages/carbon/src/internals/ModalInteraction.ts
  packages/carbon/src/types/testHooks.ts
  packages/carbon/tests/internals/componentHandler.test.ts
  pnpm-lock.yaml
  website/pages/beta/even-more/testing.mdx
Labels: dependencies, package: carbon

feat: add the new search messages endpoint
  .changeset/frank-ways-mate.md
  packages/carbon/package.json
  packages/carbon/src/classes/RequestClient.ts
  packages/carbon/src/structures/Guild.ts
  packages/carbon/src/types/testHooks.ts
Labels: package: carbon

feat: add guild prune members endpoint
  .changeset/proud-prunes-push.md
  packages/carbon/src/structures/Guild.ts
Labels: package: carbon

feat: add listeners for channel info and voice channel metadata events
  .changeset/silver-voices-listen.md
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/classes/Listener.ts
  packages/carbon/src/internals/EventHandler.ts
  packages/carbon/src/plugins/gateway-forwarder/GatewayForwarderPlugin.ts
  packages/carbon/src/types/listeners.ts
Labels: package: carbon

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-355.md
Labels: none

chore: update dependencies
  apps/cloudo/package.json
  apps/rocko/package.json
  apps/socketo/package.json
  package.json
  packages/create-carbon/package.json
  patches/@tomehq__core@0.8.1.patch
  pnpm-lock.yaml
  website/package.json
Labels: dependencies, package: create-carbon

feat: support file types in attachment options and fileupload components
  .changeset/crisp-views-shake.md
  packages/carbon/src/classes/components/FileUpload.ts
  packages/carbon/src/types/index.ts
Labels: package: carbon

chore: linting updates
  biome.json
  packages/carbon/src/utils/payload.ts
  turbo.json
Labels: package: carbon

feat: add channel obfuscation support
  .changeset/channel-obfuscation.md
  AGENTS.md
  packages/carbon/src/abstracts/BaseChannel.ts
Labels: package: carbon

fix: handle falsy command option values
  .changeset/falsy-command-options.md
  packages/carbon/src/internals/OptionsHandler.ts
Labels: package: carbon

chore: use calculated versions for snapshot releases
  .changeset/config.json
Labels: none

feat: add channel permission overwrite resolution
  .changeset/channel-permissions-for.md
  packages/carbon/src/abstracts/BaseGuildChannel.ts
  packages/carbon/src/permissions.ts
Labels: package: carbon

feat: add channel permission overwrite resolution
  .changeset/channel-permissions-for.md
  packages/carbon/src/abstracts/BaseGuildChannel.ts
  packages/carbon/src/permissions.ts
Labels: package: carbon

feat: export redis forwarder
  packages/carbon/src/plugins/redis-gateway-forwarder/index.ts
Labels: package: carbon

deps: add redis as optional peer dependency
  packages/carbon/package.json
Labels: package: carbon

feat: reciever plugin
  packages/carbon/src/plugins/redis-gateway-forwarder/RedisStreamGatewayReceiverPlugin.ts
Labels: package: carbon

feat: non-sharded plugin
  packages/carbon/src/plugins/redis-gateway-forwarder/RedisStreamGatewayForwarderPlugin.ts
Labels: package: carbon

feat: shared types
  packages/carbon/src/plugins/redis-gateway-forwarder/types.ts
Labels: package: carbon

feat: sharded redis plugin
  packages/carbon/src/plugins/redis-gateway-forwarder/ShardedRedisStreamGatewayForwarderPlugin.ts
Labels: package: carbon

docs: docs
  packages/carbon/src/plugins/redis-gateway-forwarder/types.ts
Labels: package: carbon

changeset
  .changeset/plain-berries-write.md
Labels: none

ci: tests
  packages/carbon/tests/plugins/redis-gateway-forwarder.test.ts
  pnpm-lock.yaml
Labels: dependencies, package: carbon

chore: styling tweaks
  .changeset/plain-berries-write.md
  packages/carbon/src/plugins/redis-gateway-forwarder/RedisStreamGatewayForwarderPlugin.ts
  packages/carbon/src/plugins/redis-gateway-forwarder/RedisStreamGatewayReceiverPlugin.ts
  packages/carbon/src/plugins/redis-gateway-forwarder/index.ts
  packages/carbon/src/plugins/redis-gateway-forwarder/types.ts
  packages/carbon/tests/plugins/redis-gateway-forwarder.test.ts
Labels: package: carbon

feat: Redis forwarder plugin (#404)
  .changeset/plain-berries-write.md
  packages/carbon/package.json
  packages/carbon/src/plugins/redis-gateway-forwarder/RedisStreamGatewayForwarderPlugin.ts
  packages/carbon/src/plugins/redis-gateway-forwarder/RedisStreamGatewayReceiverPlugin.ts
  packages/carbon/src/plugins/redis-gateway-forwarder/ShardedRedisStreamGatewayForwarderPlugin.ts
  packages/carbon/src/plugins/redis-gateway-forwarder/index.ts
  packages/carbon/src/plugins/redis-gateway-forwarder/types.ts
  packages/carbon/tests/plugins/redis-gateway-forwarder.test.ts
  pnpm-lock.yaml
Labels: dependencies, package: carbon

chore: ignore more users in changelog generation
  .changeset/config.json
  .changeset/generator.ts
Labels: none

feat: add NSFW command support
  .changeset/sfw-commands-age-restrict.md
  packages/carbon/src/abstracts/BaseCommand.ts
  packages/carbon/src/classes/Client.ts
Labels: package: carbon

feat: Better error handling and logger Closes #385
  .changeset/clean-error-logs.md
  .changeset/default-console-logger.md
  packages/carbon/src/adapters/fetch/index.ts
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/classes/RequestClient.ts
  packages/carbon/src/errors/BaseError.ts
  packages/carbon/src/errors/DiscordError.ts
  packages/carbon/src/errors/RatelimitError.ts
  packages/carbon/src/functions/enforceChoicesLimit.ts
  packages/carbon/src/internals/AutocompleteInteraction.ts
  packages/carbon/src/internals/CommandHandler.ts
  packages/carbon/src/internals/ComponentHandler.ts
  packages/carbon/src/internals/EventQueue.ts
  packages/carbon/src/internals/ModalHandler.ts
  packages/carbon/src/internals/TemporaryListenerManager.ts
  packages/carbon/src/plugins/client-manager/ClientManager.ts
  packages/carbon/src/plugins/cloudflare-gateway/CloudflareGatewayDurableObject.ts
  packages/carbon/src/plugins/cloudflare-gateway/CloudflareGatewayPlugin.ts
  packages/carbon/src/plugins/gateway-forwarder/GatewayForwarderPlugin.ts
  packages/carbon/src/plugins/gateway/utils/payload.ts
  packages/carbon/src/utils/index.ts
  packages/carbon/src/utils/logger.ts
  website/pages/beta/classes/client.mdx
Labels: package: carbon

docs: add Neon Functions adapter guide
  website/pages/v0.16.0/adapters/fetch/neon.mdx
  website/tome.config.mjs
Labels: none

Replace Invidget domain
  website/pages/beta/getting-started/introduction.mdx
  website/pages/v0.15.0/getting-started/introduction.mdx
  website/pages/v0.16.0/getting-started/introduction.mdx
Labels: none
