Repository buape/carbon, pull requests merged in 2024-09, with the labels that each got.

#93 Fix doc links in the README.md files
  packages/carbon/README.md
  packages/create-carbon/README.md
  packages/linked-roles/README.md
  packages/nodejs/README.md
  packages/request/README.md
Labels: p:carbon, p:nodejs

#94 feat: add fetchers to client
  .changeset/fast-peaches-chew.md
  packages/carbon/src/classes/Client.ts
Labels: p:carbon

#108 fix: interaction#options should never be null
  .changeset/dry-dragons-check.md
  apps/cloudo/src/commands/testing/options.ts
  apps/rocko/src/commands/testing/options.ts
  packages/carbon/src/internals/AutocompleteInteraction.ts
  packages/carbon/src/internals/CommandHandler.ts
  packages/carbon/src/internals/CommandInteraction.ts
  packages/carbon/src/internals/OptionsHandler.ts
Labels: bug, p:carbon

#125 fix: `OptionsHandler#getMentionable` always returning user
  .changeset/beige-melons-teach.md
  packages/carbon/src/internals/OptionsHandler.ts
Labels: p:carbon

#116 refactor: add partial type parameters to structures
  .changeset/tidy-chicken-clean.md
  packages/carbon/src/abstracts/BaseChannel.ts
  packages/carbon/src/abstracts/BaseGuildChannel.ts
  packages/carbon/src/abstracts/BaseGuildTextChannel.ts
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/abstracts/GuildThreadOnlyChannel.ts
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/internals/OptionsHandler.ts
  packages/carbon/src/structures/DmChannel.ts
  packages/carbon/src/structures/GroupDmChannel.ts
  packages/carbon/src/structures/Guild.ts
  packages/carbon/src/structures/GuildAnnouncementChannel.ts
  packages/carbon/src/structures/GuildCategoryChannel.ts
  packages/carbon/src/structures/GuildForumChannel.ts
  packages/carbon/src/structures/GuildMediaChannel.ts
  packages/carbon/src/structures/GuildMember.ts
  packages/carbon/src/structures/GuildStageOrVoiceChannel.ts
  packages/carbon/src/structures/GuildTextChannel.ts
  packages/carbon/src/structures/GuildThreadChannel.ts
  packages/carbon/src/structures/Message.ts
  packages/carbon/src/structures/Role.ts
  packages/carbon/src/structures/User.ts
  packages/carbon/src/utils.ts
Labels: p:carbon

#118 feat: add message payload
  .changeset/chilly-owls-vanish.md
  apps/rocko/src/commands/testing/button.ts
  packages/carbon/src/abstracts/BaseComponentInteraction.ts
  packages/carbon/src/abstracts/BaseGuildChannel.ts
  packages/carbon/src/abstracts/BaseInteraction.ts
  packages/carbon/src/abstracts/GuildThreadOnlyChannel.ts
  packages/carbon/src/structures/DmChannel.ts
  packages/carbon/src/structures/User.ts
  packages/carbon/src/types.ts
  packages/carbon/src/utils.ts
Labels: feature, p:carbon

#141 feat: add topic getter to guild channels
  packages/carbon/src/abstracts/BaseGuildChannel.ts
  packages/carbon/src/abstracts/BaseGuildTextChannel.ts
Labels: p:carbon

#138 refactor: move linked roles to core package
  .changeset/itchy-spiders-grin.md
  apps/rocko/package.json
  apps/rocko/src/index.ts
  formatter.mjs
  packages/carbon/package.json
  packages/carbon/src/plugins/linked-roles/LinkedRoles.ts
  packages/carbon/src/plugins/linked-roles/index.ts
  packages/carbon/src/plugins/linked-roles/types.ts
  packages/carbon/typedoc.json
  packages/linked-roles/CHANGELOG.md
  packages/linked-roles/README.md
  packages/linked-roles/package.json
  packages/linked-roles/tsconfig.json
  packages/linked-roles/typedoc.json
  pnpm-lock.yaml
  website/content/carbon/meta.json
  website/content/carbon/plugins/index.mdx
  website/content/carbon/plugins/linked-roles.mdx
  website/content/carbon/plugins/meta.json
  website/content/linked-roles/meta.json
  website/copy-api.sh
  website/modes.ts
Labels: p:carbon, dependencies

#153 Adjust required node version
  .changeset/famous-fishes-brush.md
  .github/actions/setup/action.yml
  apps/rocko/package.json
  package.json
  packages/carbon/package.json
  packages/create-carbon/package.json
  packages/nodejs/package.json
  packages/request/package.json
Labels: p:carbon, p:nodejs, dependencies, p:create-carbon
