Repository buape/carbon, pull requests merged in 2025-01, with the labels that each got.

#205 refactor: replace creating handle with new adapters
  .changeset/wild-wombats-flow.md
  .github/workflows/ci-main.yml
  .github/workflows/ci.yml
  apps/cloudo/README.md
  apps/cloudo/src/entry.ts
  apps/cloudo/src/index.ts
  apps/cloudo/wrangler.toml
  apps/rocko/src/commands/testing/allow_mentions.ts
  apps/rocko/src/index.ts
  packages/carbon/src/abstracts/Plugin.ts
  packages/carbon/src/adapters/bun/index.ts
  packages/carbon/src/adapters/cloudflare/index.ts
  packages/carbon/src/adapters/fetch/index.ts
  packages/carbon/src/adapters/next/index.ts
  packages/carbon/src/adapters/node/index.ts
  packages/carbon/src/adapters/shared.ts
  packages/carbon/src/classes/Client.ts
  packages/carbon/src/createHandle.ts
  packages/carbon/src/index.ts
  packages/carbon/src/plugins/linked-roles/LinkedRoles.ts
  packages/create-carbon/src/tools/npmHelpers.ts
  packages/create-carbon/template/_cloudflare/entry.ts.hbs
  packages/create-carbon/template/_cloudflare/wrangler.toml.hbs
  packages/create-carbon/template/index.ts.hbs
  packages/create-carbon/template/tsconfig.json.hbs
  website/app/layout.tsx
  website/content/adapters/bun.mdx
  website/content/adapters/fetch/cloudflare.mdx
  website/content/adapters/fetch/index.mdx
  website/content/adapters/fetch/meta.json
  website/content/adapters/fetch/next.mdx
  website/content/adapters/index.mdx
  website/content/adapters/meta.json
  website/content/adapters/node.mdx
  website/content/classes/client.mdx
  website/content/getting-started/basic-setup.mdx
  website/content/plugins/index.mdx
  website/content/plugins/linked-roles.mdx
  website/env.mjs
  website/next.config.mjs
Labels: p:carbon, p:create-carbon

#206 chore: update all dependencies
  .changeset/tender-shirts-attend.md
  apps/cloudo/package.json
  apps/rocko/package.json
  package.json
  packages/carbon/package.json
  packages/create-carbon/package.json
  packages/create-carbon/src/index.ts
  pnpm-lock.yaml
  turbo.json
  website/app/[...slug]/page.tsx
  website/app/layout.config.tsx
  website/app/og/[...slug]/metadata.ts
  website/app/og/[...slug]/route.tsx
  website/app/source.ts
  website/components/mdx-components.tsx
  website/next-env.d.ts
  website/package.json
  website/tsconfig.json
Labels: p:carbon, dependencies, p:create-carbon

#212 feat: command permissions
  .changeset/sharp-countries-yell.md
  apps/cloudo/src/commands/testing/permissions.ts
  apps/cloudo/src/index.ts
  apps/rocko/src/commands/testing/permissions.ts
  apps/rocko/src/index.ts
  packages/carbon/src/abstracts/BaseCommand.ts
  packages/carbon/src/index.ts
  packages/carbon/src/types.ts
Labels: p:carbon
